<section class="intro_enroll">
  <div class="container">
    <div class="card_area">
      <div class="card_enroll">
        <h1>How to enroll</h1>
        <div class="row justify-content-center">
          <div class="step_area">
            <div class="col-md-3 col-12 step_item">
              <img class="step_img" src="/assets/image/test/icon_web.svg">
              <div class="step_title">
                <div>Step</div>
                <div class="step_number">1</div>
                <div *ngIf="web" class="step_hr"></div>
              </div>
              <div class="step_description">
                <div *ngIf="mobile" class="step_hr"></div>
                <div class="step_text">Visit <span class="step_border">Ponddy HSK</span></div>
              </div>
            </div>

            <div class="col-md-3 col-12 step_item">
              <img class="step_img" src="/assets/image/test/icon_login.svg">
              <div class="step_title">
                <div>Step</div>
                <div class="step_number">2</div>
                <div *ngIf="web" class="step_hr"></div>
              </div>
              <div class="step_description">
                <div *ngIf="mobile" class="step_hr"></div>
                <div class="step_text">Login or Register</div>
              </div>
            </div>

            <div class="col-md-3 col-12 step_item">
              <img class="step_img" src="/assets/image/test/icon_form.svg">
              <div class="step_title">
                <div>Step</div>
                <div class="step_number">3</div>
                <div *ngIf="web" class="step_hr"></div>
              </div>
              <div class="step_description">
                <div *ngIf="mobile" class="step_hr"></div>
                <div class="step_text">Fill in the enrollment form</div>
              </div>
            </div>

            <div class="col-md-3 col-12 step_item">
              <img class="step_img" src="/assets/image/test/icon_payment.svg">
              <div class="step_title">
                <div>Step</div>
                <div class="step_number">4</div>
                <div *ngIf="web" class="step_hr"></div>
              </div>
              <div class="step_description">
                <div *ngIf="mobile" class="step_hr"></div>
                <div class="step_text">Submit the enrollment form & pay for test fee</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card_schedule">
        <h1>Schedule & Enrollment</h1>
        <div class="row justify-content-center">
          <div class="">

            <div class="table">
              <div class="table__th ponddy_base">
                <div>Test Information</div>
              </div>
              <div class="table__tr">
                <div class="table__tb td_border_right">HSK Level</div>
                <div class="table__tb__description td_border_right">
                  <div>HSK 2</div>
                </div>
                <div class="table__tb__description">
                  <div>HSK 4</div>
                </div>
              </div>

              <div class="table__tr">
                <div class="table__tb td_border_right">Test Fee</div>
                <div class="table__tb__description td_border_right">
                  <div>USD $30</div>
                </div>
                <div class="table__tb__description">
                  <div>USD $50</div>
                </div>
              </div>

              <div class="table__tr">
                <div class="table__tb td_border_right">Test Date</div>
                <div class="table__tb__description td_long">
                  <div>
                    2021 / 7 / 23 6pm PDT (9pm EDT)
                  </div>
                </div>
              </div>

              <div class="table__tr table__tr__no">
                <div class="table__tb td_border_right">Available seats</div>
                <div class="table__tb__description td_border_right">
                  <div>3 seats</div>
                </div>
                <div class="table__tb__description">
                  <div>9 seats</div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <a class="btn_focus-primary text_btn">Enroll a test</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
