<section class="resources">
    <mat-tab-group color=undefined animationDuration="0ms" (selectedIndexChange)="changeTab($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <div>
                    <img class="icon_course" >
                </div>
                <div class="tab_blue">
                    Course
                </div>
            </ng-template>
            <app-intro-course></app-intro-course>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <img class="icon_preparation">
                <div>Preparation</div>
            </ng-template>
            <app-intro-preparation></app-intro-preparation>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <img class="icon_smart" [src]="'assets/image/resources/icon/icon_smartLearning_normal.svg'">
                <div>Smart Learning</div>
            </ng-template>
            Third test
        </mat-tab>
    </mat-tab-group>
</section>
