<section class="resources">
  <mat-tab-group color=undefined animationDuration="0ms" [selectedIndex]="inputTab" (selectedIndexChange)="changeTab($event)">

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="icon_preparation">
        <div>Preparation</div>
      </ng-template>
      <app-intro-preparation (downloadChange)="setDownload($event)"></app-intro-preparation>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="icon_smart">
        <!-- <div>Smart Learning</div> -->
        <div>AI Chinese Tools</div>
      </ng-template>
      <app-intro-smart></app-intro-smart>
    </mat-tab>
  </mat-tab-group>
</section>
