<section>
  <mat-tab-group animationDuration="0ms"
                 (selectedIndexChange)="changeTab($event)"
                 [class.test_chinese]="!tabIndex"
                 [class.test_intro]="tabIndex">

    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <img [src]="'/assets/image/test/icon_course_hover_p.svg'">
        </div>
        <div class="tab_blue">
          Chinese Tests
        </div>
      </ng-template>
      <app-intro-chinese></app-intro-chinese>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <img [src]="'/assets/image/test/icon_preparation_normal_p.svg'">
        </div>
        <div>
          Test Instructions
        </div>
      </ng-template>
      <app-intro-test></app-intro-test>
    </mat-tab>

  </mat-tab-group>
</section>
