<section>
  <mat-tab-group animationDuration="0ms"
                 (selectedIndexChange)="changeTab($event)"
                 [class.test_chinese]="!tabIndex"
                 [class.test_intro]="tabIndex">

    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <img class="icon_course">
        </div>
        Chinese Tests
      </ng-template>
      <app-intro-chinese></app-intro-chinese>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <img class="icon_preparation" >
        </div>
        Test Instructions
      </ng-template>
      <app-intro-test></app-intro-test>
    </mat-tab>

  </mat-tab-group>
</section>
