<section class="resources">
  <mat-tab-group animationDuration="0ms" (selectedIndexChange)="changeTab($event)">

    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <img [lazyLoad]="'/assets/image/icon/square_blue.png'">
        </div>
        <div>
          Chinese Tests
        </div>
      </ng-template>
      <app-intro-chinese></app-intro-chinese>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <img [lazyLoad]="'/assets/image/icon/square_orange.png'">
        </div>
        <div>
          Test Instructions
        </div>
      </ng-template>
      <app-intro-test></app-intro-test>
    </mat-tab>

  </mat-tab-group>
</section>
