<section class="landing">
  <div class="iconify_wrap" (click)="smoothScroll()">
    <span class="iconify" data-inline="false" data-icon="bi:arrow-down-circle"></span>
  </div>

  <div class="view w-100">
    <div class="background">
      <div class="padding_space"></div>
      <div class="mask_space">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11  title">
              <h1 i18n>HSK Courses</h1>
              <h2 i18n>Advance your Chinese skills and Get ready for HSK </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
