<section *ngIf="tab===0" class="landing test_chinese">
<!--  <div class="iconify_wrap" (click)="smoothScroll()">-->
<!--    <span class="iconify" data-inline="false" data-icon="bi:arrow-down-circle"></span>-->
<!--  </div>-->
  <div class="view w-100">
    <div class="background">
      <div class="padding_space"></div>
      <div class="mask_space">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11  title">
              <h1 i18n>Tests</h1>
              <h2 i18n>Take Chinese Proficiency Test from Home at Ponddy HSK</h2>
              <p i18n class="desciption">*test takers residing in USA only</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 justify-content-center">
              <div class="iconify_wrap" (click)="smoothScroll()">
                <span class="iconify" data-inline="false" data-icon="bi:arrow-down-circle"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section *ngIf="tab===1" class="landing test_intro">
<!--  <div class="iconify_wrap" (click)="smoothScroll()">-->
<!--    <span class="iconify" data-inline="false" data-icon="bi:arrow-down-circle"></span>-->
<!--  </div>-->
  <div class="view w-100">
    <div class="background">
      <div class="padding_space"></div>
      <div class="mask_space">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11  title">
              <h1 i18n>Tests</h1>
              <h2 i18n>Take Chinese Proficiency Test from Home at Ponddy HSK</h2>
              <p i18n class="desciption">*test takers residing in USA only</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 justify-content-center">
              <div class="iconify_wrap" (click)="smoothScroll()">
                <span class="iconify" data-inline="false" data-icon="bi:arrow-down-circle"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section *ngIf="tab===2" class="landing test_intro">
  <!--  <div class="iconify_wrap" (click)="smoothScroll()">-->
  <!--    <span class="iconify" data-inline="false" data-icon="bi:arrow-down-circle"></span>-->
  <!--  </div>-->
    <div class="view w-100">
      <div class="background">
        <div class="padding_space"></div>
        <div class="mask_space">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-11  title">
                <h1 i18n>Tests</h1>
                <h2 i18n>Take Chinese Proficiency Test from Home at Ponddy HSK</h2>
                <p i18n class="desciption">*test takers residing in USA only</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 justify-content-center">
                <div class="iconify_wrap" (click)="smoothScroll()">
                  <span class="iconify" data-inline="false" data-icon="bi:arrow-down-circle"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
