<!--<section class="online">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center" style="display: flex">-->
<!--      <div class="col-11 col-md-12 justify-content-center text-center">-->
<!--        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation/web/pic_13.svg'">-->
<!--        <h2>Preparation</h2>-->
<!--        <h1 i18n class="title">Online Test Prep Resources</h1>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</section>-->

<section *ngIf="web" class="download_main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="table">
        <div class="table__th ponddy_base">
          <div>考试大纲类</div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK1.pdf">新HSK（一级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-1.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT-koushi.pdf">新YCT口语考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT-koushi.rar">口语引导文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK2.pdf">新HSK（二级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-2.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT1.pdf">新YCT（一级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT1.rar">听力音频文件</a>
            </div>
          </div>
        </div>

        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK3.pdf">新HSK（三级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-3.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT2.pdf">新YCT（二级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT2.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK4.pdf">新HSK（四级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-4.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT3.pdf">新YCT（三级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT3.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK5.pdf">新HSK（五级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-5.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT4.pdf">新YCT（四级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT4.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK6.pdf">新HSK（六级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-6.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a href="#"></a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="#"></a>
            </div>
          </div>
        </div>
        <div class="table__tr table__tr__no">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK-koushi.pdf">新HSK口语考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/HSK-koushi.rar">口语引导文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a href="#"></a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="#"></a>
            </div>
          </div>
        </div>


      </div>
      <!----------------------------------------->
      <div class="table">
        <div class="table__th orange_base">
          <div>Sample Volume</div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level1/H10901.pdf">HSK一级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level1/H10901.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level6/H61001.pdf">HSK六级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level6/H61001.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level2/H20901.pdf">HSK二级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level2/H20901.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK2/H81003.pdf">HSKK中级真题下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK2/H81003.rar">口语引导文件</a>
            </div>
          </div>
        </div>

        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level3/H31001.pdf">HSK三级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level3/H31001.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK3/H91003.pdf">HSKK高级真题下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK3/H91003.rar">口语引导文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level4/H41001.pdf">HSK四级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level4/H41001.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK1/H71003.pdf">HSKK初级真题下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK1/H71003.rar">口语引导文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr table__tr__no">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level5/H51001.pdf">HSK五级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r-solid tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level5/H51001.rar">听力音频文件</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/BCT/BCTA0001.pdf">BCT（A）真题与答案下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/BCT/BCTA0001.zip">听力音频文件</a>
            </div>
          </div>
        </div>


      </div>
      <!----------------------------------------->
      <div class="table">
        <div class="table__th ponddy_base">
          <div>Other</div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r-solid tb_5">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/HSK-2012.xls">新汉语水平考试（HSK）词汇（2012年修订版）</a>
            </div>
          </div>
          <div class="table__tb__description tb_6">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSKK-pingfen.pdf">HSKK考试评分说明(自测用)</a>
            </div>
          </div>
        </div>
        <div class="table__tr table__tr__no">
          <div class="table__tb__description table_border-r-solid tb_5">
            <div>
              <a target="black" href="http://www.chinesetest.cn/gonewcontent.do?id=41274963">汉语考试国内考点申请评审管理办法（2017）</a>
            </div>
          </div>
          <div class="table__tb__description tb_6">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK-pingfen.pdf">新HSK考试评分说明(自测用)</a>
            </div>
          </div>
        </div>
      </div>
      <!----------------------------------------->
      <div class="table">
        <div class="table__th orange_base">
          <div>真题解析</div>
        </div>
        <div class="table__tr table__tr__no">
          <div class="table__tb__description table_border-r tb_7">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/zhentijiexi/HSK4.7z">HSK四级</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_7">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/zhentijiexi/HSK5.7z">HSK五级</a>
            </div>
          </div>
          <div class="table__tb__description tb_7">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/zhentijiexi/HSK6.7z">HSK六级</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="mobile" class="download_main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="table">
        <div class="table__th ponddy_base">
          <div>考试大纲类</div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK1.pdf">新HSK（一级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="#">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK2.pdf">新HSK（二级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-2.rar">听力音频文件</a>
            </div>
          </div>
        </div>

        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK3.pdf">新HSK（三级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-3.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK4.pdf">新HSK（四级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-4.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK5.pdf">新HSK（五级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-5.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK6.pdf">新HSK（六级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/level-6.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/HSK-koushi.pdf">新HSK口语考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="/userfiles/file/dagang/HSK-koushi.rar">口语引导文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT-koushi.pdf">新YCT口语考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT-koushi.rar">口语引导文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT1.pdf">新YCT（一级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT1.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT2.pdf">新YCT（二级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT2.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr ">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT3.pdf">新YCT（三级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT3.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr table__tr__no">
          <div class="table__tb__description table_border-r tb_1">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/dagang/YCT4.pdf">新YCT（四级）考试大纲下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_2">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/dagang/YCT4.rar">听力音频文件</a>
            </div>
          </div>
        </div>

      </div>
      <!----------------------------------------->
      <div class="table">
        <div class="table__th orange_base">
          <div>Sample Volume</div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level1/H10901.pdf">HSK一级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level1/H10901.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level2/H20901.pdf">HSK二级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level2/H20901.rar">听力音频文件</a>
            </div>
          </div>
        </div>

        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level3/H31001.pdf">HSK三级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level3/H31001.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level4/H41001.pdf">HSK四级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level4/H41001.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level5/H51001.pdf">HSK五级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level5/H51001.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/level6/H61001.pdf">HSK六级真题与答案下载(第一套)</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSK/level6/H61001.rar">听力音频文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK2/H81003.pdf">HSKK中级真题下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK2/H81003.rar">口语引导文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK3/H91003.pdf">HSKK高级真题下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK3/H91003.rar">口语引导文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSKK/HSKK1/H71003.pdf">HSKK初级真题下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="#">口语引导文件</a>
            </div>
          </div>
        </div>
        <div class="table__tr table__tr__no">
          <div class="table__tb__description table_border-r tb_3">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/BCT/BCTA0001.pdf">BCT（A）真题与答案下载</a>
            </div>
          </div>
          <div class="table__tb__description tb_4">
            <div>
              <a href="http://www.chinesetest.cn/userfiles/file/BCT/BCTA0001.zip">听力音频文件</a>
            </div>
          </div>
        </div>

      </div>
      <!----------------------------------------->
      <div class="table">
        <div class="table__th ponddy_base">
          <div>Other</div>
        </div>
        <div class="table__tr">
          <div class="table__tb__description table_border-r tb_5">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK/HSK-2012.xls">新汉语水平考试（HSK）词汇（2012年修订版）</a>
            </div>
          </div>
          <div class="table__tb__description tb_6">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSKK-pingfen.pdf">HSKK考试评分说明(自测用)</a>
            </div>
          </div>
        </div>
        <div class="table__tr table__tr__no">
          <div class="table__tb__description table_border-r tb_5">
            <div>
              <a target="black" href="http://www.chinesetest.cn/gonewcontent.do?id=41274963">汉语考试国内考点申请评审管理办法（2017）</a>
            </div>
          </div>
          <div class="table__tb__description tb_6">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/HSK-pingfen.pdf">新HSK考试评分说明(自测用)</a>
            </div>
          </div>
        </div>
      </div>
      <!----------------------------------------->
      <div class="table">
        <div class="table__th orange_base">
          <div>真题解析</div>
        </div>
        <div class="table__tr table__tr__no">
          <div class="table__tb__description table_border-r tb_7">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/zhentijiexi/HSK4.7z">HSK四级</a>
            </div>
          </div>
          <div class="table__tb__description table_border-r tb_7">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/zhentijiexi/HSK5.7z">HSK五级</a>
            </div>
          </div>
          <div class="table__tb__description tb_7">
            <div>
              <a target="black" href="http://www.chinesetest.cn/userfiles/file/zhentijiexi/HSK6.7z">HSK六级</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
