<section class="online">
    <div class="container">
        <div class="row justify-content-center" style="display: flex">
            <div class="col-11 col-md-12 justify-content-center text-center">
                <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation/web/pic_13.png'">
                <h2>Preparation</h2>
                <h1 i18n class="title">Online Test Prep Resources</h1>
            </div>
        </div>

    </div>
</section>

<section *ngIf="web" class="download_main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="table">
                <div class="table__th ponddy_base">
                    <div>考试大纲类</div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（一级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT口语考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（二级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT（一级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>

                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（三级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT（二级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（四级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT（三级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（五级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT（四级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（六级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="table__tr table__tr__no">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK口语考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>


            </div>
            <!----------------------------------------->
            <div class="table">
                <div class="table__th orange_base">
                    <div>Sample Volume</div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK一级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK六级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK二级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSKK中级真题下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>

                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK三级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSKK高级真题下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK四级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSKK初级真题下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr table__tr__no">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK五级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r-solid tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">BCT（A）真题与答案下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>


            </div>
            <!----------------------------------------->
            <div class="table">
                <div class="table__th ponddy_base">
                    <div>Other</div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r-solid tb_5">
                        <div>
                            <a href="#">新汉语水平考试（HSK）词汇（2012年修订版）</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_6">
                        <div>
                            <a href="#">HSKK考试评分说明(自测用)</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr table__tr__no">
                    <div class="table__tb__description table_border-r-solid tb_5">
                        <div>
                            <a href="#">汉语考试国内考点申请评审管理办法（2017）</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_6">
                        <div>
                            <a href="#">新HSK考试评分说明(自测用)</a>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------------------->
            <div class="table">
                <div class="table__th orange_base">
                    <div>真题解析</div>
                </div>
                <div class="table__tr table__tr__no">
                    <div class="table__tb__description table_border-r tb_7">
                        <div>
                            <a href="#">HSK四级</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_7">
                        <div>
                            <a href="#">HSK五级</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_7">
                        <div>
                            <a href="#">HSK六级</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="mobile" class="download_main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="table">
                <div class="table__th ponddy_base">
                    <div>考试大纲类</div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（一级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（二级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>

                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（三级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（四级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（五级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK（六级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新HSK口语考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT口语考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT（一级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT（二级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr ">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT（三级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr table__tr__no">
                    <div class="table__tb__description table_border-r tb_1">
                        <div>
                            <a href="#">新YCT（四级）考试大纲下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_2">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>

            </div>
            <!----------------------------------------->
            <div class="table">
                <div class="table__th orange_base">
                    <div>Sample Volume</div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK一级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK二级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>

                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK三级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK四级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK五级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSK六级真题与答案下载(第一套)</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSKK中级真题下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSKK高级真题下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">HSKK初级真题下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">口语引导文件</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr table__tr__no">
                    <div class="table__tb__description table_border-r tb_3">
                        <div>
                            <a href="#">BCT（A）真题与答案下载</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_4">
                        <div>
                            <a href="#">听力音频文件</a>
                        </div>
                    </div>
                </div>

            </div>
            <!----------------------------------------->
            <div class="table">
                <div class="table__th ponddy_base">
                    <div>Other</div>
                </div>
                <div class="table__tr">
                    <div class="table__tb__description table_border-r tb_5">
                        <div>
                            <a href="#">新汉语水平考试（HSK）词汇（2012年修订版）</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_6">
                        <div>
                            <a href="#">HSKK考试评分说明(自测用)</a>
                        </div>
                    </div>
                </div>
                <div class="table__tr table__tr__no">
                    <div class="table__tb__description table_border-r tb_5">
                        <div>
                            <a href="#">汉语考试国内考点申请评审管理办法（2017）</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_6">
                        <div>
                            <a href="#">新HSK考试评分说明(自测用)</a>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------------------->
            <div class="table">
                <div class="table__th orange_base">
                    <div>真题解析</div>
                </div>
                <div class="table__tr table__tr__no">
                    <div class="table__tb__description table_border-r tb_7">
                        <div>
                            <a href="#">HSK四级</a>
                        </div>
                    </div>
                    <div class="table__tb__description table_border-r tb_7">
                        <div>
                            <a href="#">HSK五级</a>
                        </div>
                    </div>
                    <div class="table__tb__description tb_7">
                        <div>
                            <a href="#">HSK六级</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
