<section class="booking">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="tab_title">
          <h1 [class.active]="true">HSK 1&2</h1>
          <h1>HSK 3</h1>
        </div>
        <div class="description">
          <h2 i18n>Course description</h2>
          <p i18n>This is a online live class with a teacher and AI learning materials.
            The class size is small and would not exceed 4 students to enhance your learning experience.
            The course material is included with the purchase of the course. Personalized content are generated
            to support your continues learning after the class.</p>
        </div>
      </div>
      <div class="schedule">
        <h2>Class schedule:</h2>
        <p>・Mon. & Wed.  PDT: 6pm / EDT: 9pm</p>
        <p>・Tue. & Thu</p>
        <p>・Sat. & Sun.</p>
        <p>PDT: 6pm / EDT: 9pm</p>
        <span class="time">(Beijing, Manila, Singapore, Kuala Lumpur, Bali, Perth: 9am +1day)</span>
      </div>
      <div class="info_table">
        <img lazyLoad="/assets/image/freeclass/HSK 1&2.svg">
      </div>
      <div class="col-md-6"></div>

    </div>
  </div>

</section>
