<section class="intro_chinese">
  <div class="container dashline">
    <div *ngIf="screenWidth<600" class="row">
      <div class="col-12">

      </div>
    </div>
    <div *ngIf="(screenWidth<900)&&(screenWidth>600)" class="row">
      <div class="col-6">

      </div>
      <div class="col-6">

      </div>
    </div>
    <div *ngIf="(screenWidth>900)" class="row">
      <div class="col-3">

      </div>
      <div class="col-3">

      </div>
      <div class="col-3">

      </div>
      <div class="col-3">

      </div>
    </div>

  </div>
  <div class="container">
    <h1>Test Introduction</h1>
    <div class="row card_area">
      <div class="col-md-3 col-12 left_img">
        <img lazyLoad="https://d1442rljwt9063.cloudfront.net/test/web/pic_HSK_Test01.png" alt="">
      </div>
      <div class="col-md-5 col-12">
        <div class="text_area right">
          <h2 i18n>HSK Test</h2>
          <p i18n>Chinese Proficiency Test (HSK), an international standardized test of Chinese language proficiency, assesses non-native Chinese speakers’ abilities in using the Chinese language in their daily, academic and professional lives. HSK consists of
            six levels, namely HSK (level I), HSK (level II), HSK (level III), HSK (level IV), HSK (level V), and HSK (level VI).</p>
        </div>
      </div>
    </div>
    <div class="row card_area">
      <div class="col-md-5 col-12">
        <div class="text_area left">
          <h2 i18n>HSKK Test</h2>
          <p i18n>HSK Speaking Test (HSKK) assesses the test takers’ oral Chinese abilities. HSKK consists of three levels, HSKK (Primary level), HSKK (Intermediate level) and HSKK (Advanced level). HSKK is conducted in the form of audio recording.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <img lazyLoad="https://d1442rljwt9063.cloudfront.net/test/web/pic_HSK_Test02.png" alt="">
      </div>

    </div>
    <div class="row card_area">
      <div class="col-md-3 col-12 left_img">
        <img lazyLoad="https://d1442rljwt9063.cloudfront.net/test/web/pic_HSK_Test03.png" alt="">
      </div>
      <div class="col-md-5 col-12">
        <div class="text_area right">
          <h2 i18n>YCT Test</h2>
          <p i18n>
            Youth Chinese Test (YCT), an international standardized test of Chinese language proficiency, assesses the primary and middle school students' abilities to use Chinese as second language in their daily and academic lives. YCT is divided into writing and
            speaking tests, which are independent to each other. The writing test consists of four levels, namely, YCT (level I), YCT (level II), YCT (level III), and YCT (level IV). The speaking test consists of two levels, YCT Speaking (Primary Level)
            and YCT Speaking (Intermediate Level).
          </p>
        </div>
      </div>
    </div>
    <div class="row card_area">
      <div class="col-md-5 col-12">
        <div class="text_area left">
          <h2 i18n>BCT Test</h2>
          <p i18n>Business Chinese Test (BCT), an international standardized test of Chinese language proficiency, assesses non-native Chinese speakers’ abilities to use the Chinese language in real business or common working environments. BCT is divided into
            writing and oral tests, which are independent to each other. The writing test consists of two levels, namely, BCT (A)and BCT (B).BCT（Oral iBT）are Computer Adaptive Test (CAT) and conducted via Internet.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <img lazyLoad="https://d1442rljwt9063.cloudfront.net/test/web/pic_HSK_Test04.png" alt="">
      </div>

    </div>
  </div>
</section>
