.container {
  margin-bottom: 64px;
  margin-top: 64px;
  @media (max-width: 767px) {
    margin-bottom: 24px;
    margin-top: 36px;
  }
  h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #2D3942;
    margin-bottom: 72px;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0;
  
    }
  }

  .card_area {
    justify-content: center;
    @media (max-width: 767px) {
      margin: 24px 4px 0 3px!important;
      &:nth-child(2n-1){
        flex-direction: column-reverse;
      }
    }
    &:nth-child(n+3){
      margin-top: 100px;
    }
    img {
      width: 304px;
      margin-bottom: 24px;
      @media (max-width: 767px) {
        width: 100%;
        padding: 0 7px;
      }
    }
    .left_img{
      direction: rtl;
    }
    .right_img{
      direction: ltr;
    }
  }

  .text_area {
    @media (min-width: 1400px) {
      //max-width: 91%;
    }
  
    &.left{
      padding-right: 16px;
    }
    &.right{
      padding-left: 16px;
    }
    h2 {
      text-align: left;
      font-size: 30px;
      line-height: 44px;
      color: #2D3942;
      width: fit-content;
      border-bottom: 5px solid #93E2FA;
      margin-bottom: 24px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 1px;
      font-weight: normal;
      color: #576168;
      text-align: left;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 8px;
      }
    }
  }

}


