.step{
  margin-top: 60px;
  background-color: #fcfaf8;

  mat-horizontal-stepper{
    background-color: #fcfaf8;

  }
  form{
    background-color: #FFFFFF;
    padding: 36px 0;
    text-align: center;
  }
}
