<section class="step">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-8 col-12">
        <mat-horizontal-stepper [@.disabled]="true" #stepper labelPosition="bottom">
          <mat-step [stepControl]="testInfoFormGroup">
            <form [formGroup]="testInfoFormGroup">
              <ng-template matStepLabel>Step 1</ng-template>
              <h2> Enrollment Form</h2>

              <div class="form-field test_date_info" style="margin-top: 20px">
                <label>Test Date</label>
                <p>
                  Sep. 25th at 6 pm Pacific time (9 pm Eastern time)
                </p>

              </div>
              <div class="test_level">
                <p>*Please select the level you’d like to participate.</p>
                <button [class.active]="chooseTestLevel==2" (click)="chooseTestLevel=2">HSK 2</button>
                <button [class.active]="chooseTestLevel==4" (click)="chooseTestLevel=4">HSK 4</button>
              </div>
              <div *ngIf="isPayedCountList" class="form-field">
                <label *ngIf="chooseTestLevel===2">
                  Available seats: {{ 12- isPayedCountList['level2']}}
                </label>
                <label *ngIf="chooseTestLevel===4">
                  Available seats:  {{12 - isPayedCountList['level4']}}
                </label>
                <p *ngIf="(chooseTestLevel===2&&isPayedCountList['level2']>=12)
                ||(chooseTestLevel===4&&isPayedCountList['level4']>=12)"
                class="alert_message">
                  Currently there are no seats available.
                </p>
              </div>
              <div class="btn_wrap absolute">
                <button class="btn_focus-primary"
                        matStepperNext>
                  Continue
                </button>
<!--                <button class="btn_focus-primary"-->
<!--                        [disabled]="testInfoFormGroup.invalid || chooseTestLevel==0"-->
<!--                        matStepperNext>-->
<!--                  Continue-->
<!--                </button>-->
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="userInfoFormGroup">
            <form [formGroup]="userInfoFormGroup">
              <ng-template matStepLabel>Step 2</ng-template>
              <h2>Enrollment Form</h2>
              <div class="form-field">
                <label>*Email</label>
                <input formControlName="Email" name="Email"
                        [ngModel]="email"
                       [email]="true"
                       type="email"
                       value="" placeholder="Email">
              </div>
              <div class="form-field">
                <label>*Name (the same as your Certificate)</label>
                <input formControlName="Name" name="Name"
                       type="text"
                       value="" placeholder="Name">
              </div>
              <div class="form-field">
                <label>Chinese name</label>
                <input formControlName="Chinese_Name" name="Chinese_Name"
                       type="text"
                       value="" placeholder="Chinese name">
              </div>
              <div class="form-field">
                <label>Phone (with country code)</label>
                <input formControlName="Phone" name="Phone"
                       value="" placeholder="Phone (with country code)">
              </div>
              <div class="form-field">
                <label>*Nationality</label>
                <input formControlName="Nationality" name="Nationality"
                       value="United States">
              </div>
              <div class="form-field">
                <label>*Mother tongue</label>
                <mat-select placeholder="Please Select" formControlName="Mother_Tongue" name="Mother_Tongue">
                  <mat-option *ngFor="let motherTongue of motherTongueList"
                              value="{{motherTongue.key}}">
                    {{motherTongue.value}}
                  </mat-option>
                </mat-select>
              </div>
              <div class="btn_wrap">
                <button class="btn_focus-primary" [disabled]="userInfoFormGroup.invalid" matStepperNext>
                  Continue
                </button>
                <p (click)="myStepper.selectedIndex = 0">Previous</p>
              </div>
            </form>
            <div class="hint-text">
              <p>The following with * are required to be filled out.</p>
            </div>
          </mat-step>
          <mat-step [stepControl]="userInfo2FormGroup">
            <ng-template matStepLabel>Step 3</ng-template>
            <form [formGroup]="userInfo2FormGroup">
              <ng-template matStepLabel>Step 2</ng-template>
              <h2>Enrollment Form</h2>
              <div class="form-field">
                <label>*Birth date</label>
                <input formControlName="Birth_Date" name="Birth_Date"
                       type="date">
              </div>
<!--              <div class="form-field">-->
<!--                <label>Belong to</label>-->
<!--                &lt;!&ndash;                <input formControlName="Belong_To" name="Belong_To" value="">&ndash;&gt;-->
<!--                <mat-select placeholder="Please Select" formControlName="Belong_To" name="Belong_To">-->
<!--                  <mat-option value="Student">Student</mat-option>-->
<!--                  <mat-option value="In-service professionals">In-service professionals</mat-option>-->
<!--                  <mat-option value="Others">Others</mat-option>-->
<!--                </mat-select>-->
<!--              </div>-->
              <div class="form-field">
                <label>*How long have you been learning Chinese?</label>
                <mat-select placeholder="Please Select" formControlName="Learning_For" name="Learning_For">
                  <mat-option value="6个月以下 &nbsp;Less than 6 months"> 6个月以下 &nbsp;Less than 6 months</mat-option>
                  <mat-option value="6-12个月&nbsp;6-12 months"> 6-12个月&nbsp;6-12 months</mat-option>
                  <mat-option value="1年&nbsp;One year">1年&nbsp;One year</mat-option>
                  <mat-option value="2年&nbsp;Two years"> 2年&nbsp;Two years</mat-option>
                  <mat-option value="3年&nbsp;Three years">3年&nbsp;Three years</mat-option>
                  <mat-option value="4年&nbsp;Four years">4年&nbsp;Four years</mat-option>
                  <mat-option value="5年&nbsp;Five years">5年&nbsp;Five years</mat-option>
                  <mat-option value="5-10年&nbsp;5-10 years">5-10年&nbsp;5-10 years</mat-option>
                  <mat-option value="10年以上&nbsp;More than 10 years">10年以上&nbsp;More than 10 years</mat-option>
                </mat-select>
              </div>
              <div class="form-field">
                <label>*Why do you want to learn Chinese?</label>
                <mat-select placeholder="Please Select" formControlName="Reason" name="Reason">
                  <mat-option value="For research">For research</mat-option>
                  <mat-option value="Just a hobbit">Just a hobbit</mat-option>
                  <mat-option value="For work">For work</mat-option>
                  <mat-option value="To study overseas">To study overseas</mat-option>
                </mat-select>
              </div>
              <div class="form-field">
                <label>*How did you get to know us?</label>
                <mat-select placeholder="Please Select" formControlName="Known_From" name="Known_From">
                  <mat-option value="From internet">From internet</mat-option>
                  <mat-option value="From teachers">From teachers</mat-option>
                  <mat-option value="From schoolmates">From schoolmates</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
              </div>
              <div class="btn_wrap">
                <button class="btn_focus-primary" [disabled]="userInfo2FormGroup.invalid" matStepperNext>
                  Continue
                </button>
                <p (click)="myStepper.selectedIndex = 1">Previous</p>
              </div>
            </form>
            <div class="hint-text">
              <p>The following with * are required to be filled out.</p>
            </div>
          </mat-step>

          <mat-step [stepControl]="userInfo3FormGroup">
            <ng-template matStepLabel>Step 4</ng-template>
            <form [formGroup]="userInfo3FormGroup">
              <ng-template matStepLabel>Step 2</ng-template>
              <h2>Certificate</h2>
              <div class="form-field">
                <label>Certificate type</label>
                <mat-select placeholder="Please Select"
                            (ngModelChange)="changeCertificate_Type($event)"
                            formControlName="Certificate_Type" name="Certificate_Type">
                  <mat-option value="Passport">Passport</mat-option>
                  <mat-option value="ID">ID</mat-option>
                  <mat-option value="ARC">ARC</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
              </div>
              <div class="form-field">
                <label>Other Certificate（government issued only）</label>
                <input formControlName="Other_Certificate" name="Other_Certificate"
                       type="text"
                       value="" placeholder="Other Certificate">
              </div>
              <div class="form-field">
                <label>Certificate Number</label>
                <input formControlName="Certificate_Number" name="Certificate_Number"
                       type="text"
                       value="" placeholder="Certificate Number">
              </div>
              <div class="form-field">
                <label>Gender</label>
                <mat-select placeholder="Please Select" formControlName="Gender" name="Gender">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Females">Female</mat-option>
                </mat-select>
              </div>
              <div class="btn_wrap">
                <button class="btn_focus-primary" [disabled]="userInfo3FormGroup.invalid" matStepperNext>
                  Continue
                </button>
                <p (click)="myStepper.selectedIndex = 2">Previous</p>
              </div>
            </form>
            <div class="hint-text">
              <p>The following with * are required to be filled out.</p>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Step 5</ng-template>
            <form class="summary" [formGroup]="summaryFormGroup">
              <h2>Summary</h2>

              <div class="form-field">
                <div class="cell">
                  <label>HSK Level:</label>
                  <p>HSK {{chooseTestLevel}}</p>
                </div>
                <div class="cell">
                  <label>Nationality:</label>
                  <p>{{userInfoFormGroup.get('Nationality')?.value}}</p>
                </div>
              </div>
              <div class="form-field">
                <div class="cell">
                  <label>Date of the test:</label>
                  <p>{{testInfoFormGroup.get('Test_Date')?.value}}</p>
                </div>
                <div class="cell">
                  <label>Mother tongue:</label>
                  <p>{{getMotherTongueByKey(userInfoFormGroup.get('Mother_Tongue')?.value)}}</p>
                </div>
              </div>
              <div class="form-field">
                <div class="cell">
                  <label>Email:</label>
                  <p>{{userInfoFormGroup.get('Email')?.value}}</p>
                </div>
              </div>
              <div class="form-field">
                <div class="cell">
                  <label>Phone:</label>
                  <p>{{userInfoFormGroup.get('Phone')?.value}}</p>
                </div>
                <div class="cell">
                  <label>Birth date:</label>
                  <p>{{userInfo2FormGroup.get('Birth_Date')?.value}}</p>
                </div>
              </div>
              <div class="form-field">
                <div class="cell">
                  <label>Name: </label>
                  <p>{{userInfoFormGroup.get('Name')?.value}}</p>
                </div>
<!--                <div class="cell">-->
<!--                  <label>Belong to:</label>-->
<!--                  <p>{{userInfo2FormGroup.get('Belong_To')?.value}}</p>-->
<!--                </div>-->
              </div>


              <div class="form-field">
                <div class="cell">
                  <label>Certificate Type</label>
                  <p>{{userInfo3FormGroup.get('Certificate_Type')?.value}}</p>
                </div>
                <div class="cell">
                  <label>Other Certificate</label>
                  <p>{{userInfo3FormGroup.get('Other_Certificate')?.value}}</p>
                </div>
              </div>

              <div class="form-field">
                <div class="cell">
                  <label>Certificate Number</label>
                  <p>{{userInfo3FormGroup.get('Certificate_Number')?.value}}</p>
                </div>
                <div class="cell">
                  <label>Gender</label>
                  <p>{{userInfo3FormGroup.get('Gender')?.value}}</p>
                </div>
              </div>

              <div class="form-field">
                <div class="cell">
                  <label>How long have you been learning Chinese: </label>
                  <p> {{userInfo2FormGroup.get('Learning_For')?.value}}</p>
                </div>
              </div>

              <div class="form-field">
                <div class="cell">
                  <label>Why do you want to learn Chinese: </label>
                  <p>{{userInfo2FormGroup.get('Reason')?.value}}</p>
                </div>
              </div>
              <div class="form-field">
                <div class="cell">
                  <label>How did you get to know us:</label>
                  <p>{{userInfo2FormGroup.get('Known_From')?.value}}</p>
                </div>
              </div>
              <hr>

              <mat-checkbox formControlName="agree">
                I have read and agree to registration agreement.
              </mat-checkbox>

              <div class="btn_wrap">
                <button class="btn_focus-primary" [disabled]="summaryFormGroup.invalid" (click)="payment()">
                  Go to Payment
                </button>
                <p (click)="myStepper.selectedIndex = 3">Previous</p>
              </div>
            </form>
            <!--            <div>-->
            <!--              <button mat-button matStepperPrevious>Previous</button>-->
            <!--              <button mat-button (click)="stepper.reset()">Reset</button>-->
            <!--            </div>-->
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>

</section>
