.step {
  padding: 30px 0 120px;
  background-color: #fcfaf8;
  
  mat-horizontal-stepper {
    background-color: #fcfaf8;
    
    ::ng-deep {
      mat-step-header {
        pointer-events: none;
      }
      
      .mat-horizontal-content-container {
        padding: 0;
      }
      
      mat-step-header .mat-step-icon-not-touched span,
      mat-step-header .mat-step-icon span,
      mat-step-header .mat-step-icon-not-touched .mat-icon,
      mat-step-header .mat-step-icon .mat-icon {
        display: none;
      }
      
      .mat-step-header .mat-step-icon {
        background-color: #F4F4F5;
        
        &.mat-step-icon-selected {
          background-color: #78D4B6;
        }
        
        &.mat-step-icon-state-done {
          background-color: #78D4B6;
        }
        
        &.mat-step-icon-state-edit {
          background-color: #78D4B6;
        }
      }
      
      
    }
  }
  
  form {
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
    max-width: 560px;
    padding: 36px 22px 36px 22px;
    min-height: 780px;
    position: relative;
    margin: auto auto 16px auto;
    
    h2 {
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #2D3942;
      margin-bottom: 20px;
    }
    
    .test_date {
      max-width: 296px;
      margin: auto;
      
      p {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.8px;
        color: #576168;
        margin: 4px;
      }
      
      button {
        padding: 13px 40px;
        background: #FFFFFF;
        border: 1px solid #D5D7D9;
        box-sizing: border-box;
        border-radius: 4px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 16px;
        
        &:nth-child(2n) {
          margin-right: 16px;
        }
        
        &.active {
          background: #6ACFED;
          color: #FFFFFF;
          border: 1px solid #3B9FBE;
        }
      }
    }
    
    .form-field {
      display: inline-grid;
      width: 100%;
      max-width: 296px;
      margin-bottom: 16px;
      
      label {
        font-size: 16px;
        line-height: 22px;
        color: #576168;
        text-align: left;
        margin-bottom: 4px;
      }
      
      input {
        padding: 10px 12px;
        background: #FFFFFF;
        border: 1px solid #D5D7D9;
        box-sizing: border-box;
        border-radius: 4px;
        
        &[placeholder] {
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 1px;
        }
      }
      
      mat-select {
        padding: 10px 12px;
        background: #FFFFFF;
        border: 1px solid #D5D7D9;
        box-sizing: border-box;
        border-radius: 4px;
        min-height: 56px;
        
        ::ng-deep {
          .mat-select-trigger {
            height: 2.2rem;
          }
          
          .mat-select-placeholder {
            font-size: 20px;
            line-height: 36px;
            letter-spacing: 1px;
            color: #D5D7D9;
          }
          
          .mat-select-value {
            text-align: left;
            font-size: 20px;
            line-height: 36px;
          }
        }
        
      }
    }
    
    .check_wrap {
      display: inline-flex;
      width: 296px;
      
      mat-checkbox {
        width: 296px;
        //border: 2px solid #6ACFED;
        line-height: 24px;
        margin-left: 8px;
      }
    }
    
    &.summary {
      .form-field {
        text-align: left;
        display: table;
        justify-content: space-between;
        margin: auto;
        max-width: 350px;
        width: 100%;
        
        .cell {
          display: table-cell;
          width: 40%;
          
          &:nth-child(1) {
            width: 60%;
          }
          
          label {
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            color: #2D3942;
            text-align: left;
            margin-bottom: 4px;
          }
          
          p {
            color: #2D3942;
            font-weight: normal;
          }
        }
      }
      
      ::ng-deep.mat-checkbox-layout {
        white-space: normal;
      }
      
      hr {
        max-width: 350px;
        border: 1px solid #EAEBEC;
      }
      
    }
    
    .btn_wrap {
      position: absolute;
      bottom: 48px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      
      p {
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        text-decoration-line: underline;
        color: #576168;
        cursor: pointer;
      }
    }
  }
  
  .hint-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #576168;
  }
}
