.about_ponddy {
  padding: 64px 0;
  max-width: 100vw;
  overflow-x: hidden;
  @media (max-width: 767px) {
    padding: 24px 0;
    max-width: 99.9vw;
    .container {
      padding: 0 28px;
    }
  }
  h1 {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #2D3942;
    font-weight: 900;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 16px;
    }
  }
  .description {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #2D3942;
    font-weight: 400;
    text-align: center;
    @media (max-width: 991.98px) {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.5px;
      color: #576168;
    }
  }
  .carousel-cell {
    img {
      //height: auto;
      width: 100%;
    }
  }
  .arrow.left {
    justify-content: flex-end;
    .course_img-left {
      cursor: pointer;
      background-image: url(/assets/image/icon/btn_normal_left.svg);
      width: 42px;
      height: 42px;
      &:hover {
        background-image: url(/assets/image/icon/btn_hover_left.svg);
      }
    }
    .disable {
      background-image: url(/assets/image/icon/btn_disable_left.svg);
      &:hover {
        cursor: inherit;
        background-image: url(/assets/image/icon/btn_disable_left.svg);
      }
    }
  }
  .arrow.right {
    justify-content: flex-start;
    .course_img-right {
      cursor: pointer;
      background-image: url(/assets/image/icon/btn_normal_right.svg);
      width: 42px;
      height: 42px;
      &:hover {
        background-image: url(/assets/image/icon/btn_hover_right.svg);
      }
    }
    .disable {
      background-image: url(/assets/image/icon/btn_disable_right.svg);
      &:hover {
        cursor: inherit;
        background-image: url(/assets/image/icon/btn_disable_right.svg);
      }
    }
  }
  .carousel_wrap {
    padding-top: 64px;
    @media (max-width: 767px) {
      padding-top: 0;
    }
  }
  carousel {
    @media (max-width: 767px) {
      height: 100px !important;
      margin: 30px 0 20px;
    }
  }
   ::ng-deep .carousel-inner {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .carousel .carousel-control-next-icon {}
}
