.hsk_intro {
  padding: 64px 0 100px;
  @media (max-width: 767px) {
    padding: 36px 0 0;
  }
  
  img.main {
    width: 100%;
  }
  
  img.icon {
    margin-bottom: 20px;
  }
  
  .intro_text {
    padding: 48px 76px;
    @media (max-width: 767px) {
      padding: 20px 0 36px;
    }
    
  }
  
  h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 767px) {
      display: inline-flex;
      font-size: 24px;
      line-height: 36px;
      img.icon {
        margin: 0 0 0 16px;
        width: 50px;
        height: 50px;
      }
    }
  }
  
  p {
    font-size: 24px;
    line-height: 40px;
    /* or 167% */
    margin: auto 0;
    letter-spacing: 1px;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 30px;
    }
  }
  .preparation{
    margin-top: 80px;
    @media (max-width: 767px) {
      margin-top: 0;
      flex-flow: wrap-reverse;
    }
  }
  .col-md-4{
    width: 37.5%;
  }
}
