<section class="hsk_intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-11">
        <img class="main" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/home/intro_pic_01.png'">
      </div>
      <div class="col-md-5 col-11">
        <div class="intro_text">
          <img [hidden]="isMobile" class="icon" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/icon/intro_icon_01.svg'">
          <h1 i18n>Chinese Proficiency Test <img  [hidden]="!isMobile" class="icon" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/icon/intro_icon_01.svg'"></h1>
          <p>Things you should know before registration and tests</p>
          <div class="learn_more blue_text">
            <p>Read More</p>
            <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_blue_normal.svg'">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center preparation" >
      <div class="col-md-5 col-11" >
        <div class="intro_text" style="padding-left: 0">
          <img [hidden]="isMobile" class="icon" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/icon/intro_icon_02.svg'">
          <h1 i18n>HSK Preparation <img [hidden]="!isMobile"
                                        class="icon" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/icon/intro_icon_02.svg'"></h1>
          <p i18n>Get ready for HSK with the self-study packet and practice tests</p>
          <div class="learn_more green_text">
            <p i18n>Read More</p>
            <img class="svg" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_green_normal.svg'">
          </div>
        </div>

      </div>
      <div class="col-md-5 col-11">
        <img class="svg" class="main" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/home/intro_pic_02.png'">
      </div>
    </div>
  </div>
</section>
