<section class="preparation_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center bg_table">
                <h1>Smart Tool and HSK Self-Study Guide</h1>
            </div>
            <div class="preparation_top__title">
                <p class="preparation_top__distribution">
                    Not sure how to prepare for the HSK test? Try
                    <a href="#" class="preparation_top__distribution__title">Ponddy Reader</a> ! Choose the levels* and collections that meet your need and go over the Pondlets (interactive learning modules) following the tips below for an efficient self-review.
                </p>
                <p class="preparation_top__annotation">*The level display system in Ponddy Reader can be adjusted according to your needs</p>
            </div>
        </div>

        <div *ngIf="web" class="table">
            <div class="table__th ponddy_base">
                <div>HSK Self-study Resource</div>
            </div>
            <div class="table__tr">
                <div class="table__tb">Professionals</div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">Pre A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A2</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B2</a>
                    </div>
                </div>
            </div>
            <div class="table__tr">
                <div class="table__tb">College</div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">Pre A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A2</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B2</a>
                    </div>
                </div>
            </div>
            <div class="table__tr">
                <div class="table__tb">High School</div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">Pre A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A2</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B2</a>
                    </div>
                </div>
            </div>
            <div class="table__tr table__tr__no">
                <div class="table__tb">Middle School</div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">Pre A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A2</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B2</a>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="mobile" class="table_mobile">
            <div class="table_mobile__title">
                <div>HSK Self-study Resource</div>
            </div>
            <div class="table_mobile__tr">
                <div class="table_mobile__td__title">
                    <div>Professionals</div>
                </div>
                <div class="table_mobile__td__description">
                    <div class="table_mobile__td__description__text">
                        <div>Pre A1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>A1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>A2</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>B1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>B2</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>C1</div>
                    </div>
                    <div class="table_mobile__td__description__text table_mobile__td__description__no">
                        <div>C2</div>
                    </div>
                </div>
            </div>
            <div class="table_mobile__tr">
                <div class="table_mobile__td__title table_mobile__color table_mobile__bg_color">
                    <div>College</div>
                </div>
                <div class="table_mobile__td__description table_mobile__color table_mobile__bg_color">
                    <div class="table_mobile__td__description__text">
                        <div>Pre A1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>A1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>A2</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>B1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>B2</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>C1</div>
                    </div>
                    <div class="table_mobile__td__description__text table_mobile__td__description__no">
                        <div>C2</div>
                    </div>
                </div>
            </div>
            <div class="table_mobile__tr">
                <div class="table_mobile__td__title">
                    <div>High School</div>
                </div>
                <div class="table_mobile__td__description">
                    <div class="table_mobile__td__description__text">
                        <div>Pre A1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>A1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>A2</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>B1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>B2</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>C1</div>
                    </div>
                    <div class="table_mobile__td__description__text table_mobile__td__description__no">
                        <div>C2</div>
                    </div>
                </div>
            </div>
            <div class="table_mobile__no">
                <div class="table_mobile__td__title table_mobile__color table_mobile__bg_color">
                    <div>Middle School</div>
                </div>
                <div class="table_mobile__td__description table_mobile__bg_color">
                    <div class="table_mobile__td__description__text">
                        <div>Pre A1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>A1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>A2</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>B1</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>B2</div>
                    </div>
                    <div class="table_mobile__td__description__text">
                        <div>C1</div>
                    </div>
                    <div class="table_mobile__td__description__text table_mobile__td__description__no">
                        <div>C2</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="preparation_mid">
    <div class="container preparation_mid__width">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>I. Improve Listening and Reading Skills</h1>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center preparation_mid__item">
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">1</div>
                    <div class="preparation_mid__distribution__text text_small">
                        Listen to the recordings in the “Main Content” and try to guess the main idea of the reading.
                        <img class="img_small" [useSrcset]="true" [lazyLoad]="pic_01">
                    </div>
                </div>

                <div class="preparation_mid__item">
                    <div class="preparation_mid__distribution">
                        <div class="preparation_mid__number">2</div>
                        <div class="preparation_mid__distribution__text text_small">
                            Click on unfamiliar words in the reading to know how the words are used in context with the help of the dictionary.
                            <img class="img_small" [useSrcset]="true" [lazyLoad]="pic_02">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container preparation_mid__width">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>II. Effectively Improve and Expand Your Vocabulary</h1>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">1</div>
                    <div class="preparation_mid__distribution__text">
                        Use the filter function in “Main Content” to select level 3 words. Skim through the reading to find unfamiliar words. This allows you to quickly find level-appropriate words that you can learn and expand your vocabulary.
                        <img [useSrcset]="true" [lazyLoad]="pic_03">
                    </div>
                </div>
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">2</div>
                    <div class="preparation_mid__distribution__text">
                        <div class="text_width">
                            Click on a word or phrase to activate Ponds and expand your knowledge. You can quickly check for any possible key points you’ve missed.
                            <br> (When opening Ponds, please make sure to switch off words that are above your current level.)
                        </div>
                        <div *ngIf="web" class="preparation_mid__item">
                            <div class="preparation_mid__distribution__img">
                                <img [useSrcset]="true" [lazyLoad]="pic_04">
                                <div class="preparation_mid__distribution__img__alt">
                                    a. <span class="preparation_mid__distribution__img__alt__title">Word Pond</span>- allows you to find words or phrases that often appear together in different contexts. You can quickly identify unfamiliar word combinations
                                    and learn how to use them.
                                </div>
                            </div>
                            <div class="preparation_mid__distribution__img">
                                <img [useSrcset]="true" [lazyLoad]="pic_05">
                                <div class="preparation_mid__distribution__img__alt">
                                    b. <span class="preparation_mid__distribution__img__alt__title">Character Pond</span>- you can find out how a character is used extensively to form other words or phrases. You can quickly identify unfamiliar words or
                                    phrases, form new phrases with ease, and learn how to use them.
                                </div>
                            </div>
                            <div class="preparation_mid__distribution__img">
                                <img [useSrcset]="true" [lazyLoad]="pic_06">
                                <div class="preparation_mid__distribution__img__alt">
                                    c. <span class="preparation_mid__distribution__img__alt__title">Radical Pond</span>- you can see other frequently used characters with the same radical, find unfamiliar characters, improve your memory, and enhance your
                                    ability to recognize characters.
                                </div>
                            </div>
                        </div>
                        <carousel *ngIf="mobile" #course_carousel [height]="courseHeight" [cellWidth]="courseWidth" [dots]="false" [arrows]="false">
                            <div class="preparation_mid__item">
                                <div class="preparation_mid__distribution__img">
                                    <img [useSrcset]="true" [lazyLoad]="pic_04">
                                    <div class="preparation_mid__distribution__img__alt">
                                        a. <span class="preparation_mid__distribution__img__alt__title">Word Pond</span>- allows you to find words or phrases that often appear together in different contexts. You can quickly identify unfamiliar word combinations
                                        and learn how to use them.
                                    </div>
                                </div>
                                <div class="preparation_mid__distribution__img">
                                    <img [useSrcset]="true" [lazyLoad]="pic_05">
                                    <div class="preparation_mid__distribution__img__alt">
                                        b. <span class="preparation_mid__distribution__img__alt__title">Character Pond</span>- you can find out how a character is used extensively to form other words or phrases. You can quickly identify unfamiliar words
                                        or phrases, form new phrases with ease, and learn how to use them.
                                    </div>
                                </div>
                                <div class="preparation_mid__distribution__img">
                                    <img [useSrcset]="true" [lazyLoad]="pic_06">
                                    <div class="preparation_mid__distribution__img__alt">
                                        c. <span class="preparation_mid__distribution__img__alt__title">Radical Pond</span>- you can see other frequently used characters with the same radical, find unfamiliar characters, improve your memory, and enhance
                                        your ability to recognize characters.
                                    </div>
                                </div>
                            </div>
                        </carousel>
                    </div>
                </div>

                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">3</div>
                    <div class="preparation_mid__distribution__text">
                        Click on “Exercises.” Then, use “Word Puzzle,” “Match the Pinyin,” and “Match the Meaning” to test your vocabulary learning result.
                        <img [useSrcset]="true" [lazyLoad]="pic_07">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container preparation_mid__width">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>III. Improve Grammar Mastery</h1>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">1</div>
                    <div class="preparation_mid__distribution__text">
                        Click on “Grammar” and use the filter function to display grammar points of level 3 and below.
                        <img [useSrcset]="true" [lazyLoad]="pic_08">
                    </div>
                </div>
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">2</div>
                    <div class="preparation_mid__distribution__text">
                        Read the grammar explanations and the sample sentences (with recordings) carefully so that you can fully understand the usages.
                        <img [useSrcset]="true" [lazyLoad]="pic_09">
                    </div>
                </div>
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">3</div>
                    <div class="preparation_mid__distribution__text">
                        Click on “Exercises” and check your learning results with “Drag to Fill.”
                        <img [useSrcset]="true" [lazyLoad]="pic_10">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="other">
    <div class="container">
        <div class="row justify-content-center" style="display: flex">
            <div class="col-11 col-md-12 justify-content-center text-center">
                <h1 i18n class="title">Other Online Test Prep Resources</h1>
                <h2 i18n class="">Chinese Tests Resource Center</h2>
                <button i18n class="btn_focus-primary">Download</button>
            </div>
        </div>

    </div>
</section>
