<section class="preparation_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center bg_table">
                <h1>Smart Tool and HSK Self-Study Guide</h1>
            </div>
            <div class="preparation_top__title">
                <p class="preparation_top__distribution">
                    Not sure how to prepare for the HSK test? Try
                    <span class="preparation_top__distribution__title">Ponddy Reader</span> ! Choose the levels* and collections that meet your need and go over the Pondlets (interactive learning modules) following the tips below for an efficient self-review.
                </p>
                <p class="preparation_top__annotation">*The level display system in Ponddy Reader can be adjusted according to your needs</p>
            </div>
        </div>

        <div class="table">
            <div class="table__th ponddy_base">
                <div>HSK Self-study Resource</div>
            </div>
            <div class="table__tr">
                <div class="table__tb">Professionals</div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">Pre A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A2</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B2</a>
                    </div>
                </div>
            </div>
            <div class="table__tr">
                <div class="table__tb">College</div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">Pre A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A2</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B2</a>
                    </div>
                </div>
            </div>
            <div class="table__tr">
                <div class="table__tb">High School</div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">Pre A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A2</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B2</a>
                    </div>
                </div>
            </div>
            <div class="table__tr table__tr__no">
                <div class="table__tb">Middle School</div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">Pre A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">A2</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B1</a>
                    </div>
                </div>
                <div class="table__tb__description">
                    <div>
                        <a href="#">B2</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="preparation_mid">
    <div class="container" style="width: 800px;">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1><span>I. Imp</span>rove Listening and Reading Skills</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center preparation_mid__item">
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">1</div>
                    <div class="preparation_mid__distribution__text">
                        Listen to the recordings in the “Main Content” and try to guess the main idea of the reading.
                        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-i-1.svg'">
                    </div>
                </div>

                <div class="preparation_mid__item">
                    <div class="preparation_mid__distribution">
                        <div class="preparation_mid__number">2</div>
                        <div class="preparation_mid__distribution__text">
                            Click on unfamiliar words in the reading to know how the words are used in context with the help of the dictionary.
                            <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-i-2.svg'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="width: 800px;">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1><span>II. Ef</span>fectively Improve and Expand Your Vocabulary</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">1</div>
                    <div class="preparation_mid__distribution__text">
                        Use the filter function in “Main Content” to select level 3 words. Skim through the reading to find unfamiliar words. This allows you to quickly find level-appropriate words that you can learn and expand your vocabulary.
                        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-ii-1.svg'">
                    </div>
                </div>
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">2</div>
                    <div class="preparation_mid__distribution__text">
                        Click on a word or phrase to activate Ponds and expand your knowledge. You can quickly check for any possible key points you’ve missed.
                        <br> (When opening Ponds, please make sure to switch off words that are above your current level.)
                        <div class="preparation_mid__item">
                            <div class="preparation_mid__distribution__img">
                                <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-ii-2-word_pond.svg'">
                                <div class="preparation_mid__distribution__img__alt">
                                    a. <span class="preparation_mid__distribution__img__alt__title">Word Pond</span>- allows you to find words or phrases that often appear together in different contexts. You can quickly identify unfamiliar word combinations
                                    and learn how to use them.
                                </div>
                            </div>
                            <div class="preparation_mid__distribution__img">
                                <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-ii-2-character_pond.svg'">
                                <div class="preparation_mid__distribution__img__alt">
                                    b. <span class="preparation_mid__distribution__text__alt__title">Character Pond</span>- you can find out how a character is used extensively to form other words or phrases. You can quickly identify unfamiliar words
                                    or phrases, form new phrases with ease, and learn how to use them.
                                </div>
                            </div>
                            <div class="preparation_mid__distribution__img">
                                <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-ii-2-radical_pond.svg'">
                                <div class="preparation_mid__distribution__img__alt">
                                    c. <span class="preparation_mid__distribution__text__alt__title">Radical Pond</span>- you can see other frequently used characters with the same radical, find unfamiliar characters, improve your memory, and enhance
                                    your ability to recognize characters.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">3</div>
                    <div class="preparation_mid__distribution__text">
                        Click on “Exercises.” Then, use “Word Puzzle,” “Match the Pinyin,” and “Match the Meaning” to test your vocabulary learning result.
                        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-ii-3.svg'">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="width: 800px;">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1><span>III. I</span>mprove Grammar Mastery</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">1</div>
                    <div class="preparation_mid__distribution__text">
                        Click on “Grammar” and use the filter function to display grammar points of level 3 and below.
                        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-iii-1.svg'">
                    </div>
                </div>
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">2</div>
                    <div class="preparation_mid__distribution__text">
                        Read the grammar explanations and the sample sentences (with recordings) carefully so that you can fully understand the usages.
                        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-iii-2.svg'">
                    </div>
                </div>
                <div class="preparation_mid__distribution">
                    <div class="preparation_mid__number">3</div>
                    <div class="preparation_mid__distribution__text">
                        Click on “Exercises” and check your learning results with “Drag to Fill.”
                        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation-smart-tool-iii-3.svg'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
