<section>
  <div class="container">
    <div class="container dashline">
      <div *ngIf="screenWidth<600" class="row">
        <div class="col-12">

        </div>
      </div>
      <div *ngIf="(screenWidth<900)&&(screenWidth>600)" class="row">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
      </div>
      <div *ngIf="(screenWidth>900)" class="row">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
      </div>

    </div>

    <div class="row justify-content-center">
      <div class="col-11 col-md-9">
        <h1>A Fun Way To Learn Chinese</h1>
        <div class="item-wrap">
          <img [useSrcset]="true" [lazyLoad]="picDailyWord">
          <div class="item-content">
            <div class="content-blue">Build Up Vocabulary</div>
            <div class="title">Ponddy Daily Word </div>
            <div class="text">Chrome extension that pushes digital flashcards for Mandarin Chinese words to your "new tab" page every day. Add the extension to get familiar with Chinese words that match your proficiency level, and easily expand your vocabulary while surfing
              on the internet.</div>
            <div class="text-center">
              <div class="btn-blue">
                <a target="black" href="https://chrome.google.com/webstore/detail/ponddy-daily-wordsa-fun-w/eaieadhpfjjlkgmfnkmlhppdpjkgddag">
                  <div class="pd_btn_icon button_icon"></div>
                  <span *ngIf="web">Get Ponddy Daily Word For Chrome</span>
                  <span *ngIf="mobile">Get Ponddy Daily Word</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="item-wrap">
          <img [useSrcset]="true" [lazyLoad]="picDigestWord">
          <div class="item-content">
            <div class="content-orange">Enhance Reading</div>
            <div class="title">Ponddy Digest</div>
            <div class="text"> Leveled interactive Chinese passage pushed to your “new tab” page. Content, audio, and resource updated weekly with real-world topics chosen by experienced teachers. Enhance reading and listening with authentic materials of easy access.
            </div>
            <div class="text-center">
              <div class="btn-orange">
                <a target="black" href="https://chrome.google.com/webstore/detail/ponddy-digest-%E2%80%93-weekly-ch/padhecljpmdefpkhpphkjdanjbmkhgoc">
                  <div class="button_icon"></div>
                  <span *ngIf="web">Get Ponddy Digest For Chrome</span>
                  <span *ngIf="mobile">Get Ponddy Digest</span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
