section {
  font-family: Ponddy-NotoRubik, "Microsoft JhengHei", sans-serif !important;
  background: #FBFFFD;

  .dashline {
    position: absolute !important;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;

    .row {
      height: 100%;

      .col-3 {
        border-left: 1px dashed #eaebec;

        &:last-child {
          border-right: 1px dashed #eaebec;
        }
      }
    }
  }

  h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2D3942;
    padding-top: 64px;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.5px;
      padding-top: 24px;
    }
  }

  .item-wrap {
    max-width: 780px;
    margin: 64px auto 40px auto;
    @media (max-width: 767px) {
      margin: 24px auto 30px auto;
    }

    &:last-child {
      margin-bottom: 100px;
      @media (max-width: 767px) {
        margin-bottom: 36px;
      }
    }

    img.round {
      border-radius: 12px 12px 0 0;
    }
    .btn_focus-primary{
      font-weight: 700;
    }
  }

  img {
    width: 100%;
  }

  .item-content {
    text-align: left;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 12px 12px;
    background: #ffffff;
    padding: 34px 40px 48px 40px;
    @media (max-width: 767px) {
      padding: 20px 22px 30px 22px;
      box-shadow: none;
      border: 0.710145px solid #EAEBEC;
    }

    .content-orange {
      font-weight: 700;
      font-size: 20px;
      line-height: 60px;
      letter-spacing: 0.5px;
      color: #F3A024;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }
    }

    .content-blue {
      font-weight: 700;
      font-size: 20px;
      line-height: 60px;
      letter-spacing: 0.5px;
      color: #6ACFED;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }
    }

    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 60px;
      letter-spacing: 0.5px;
      color: #2D3942;
      @media (max-width: 767px) {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
      }
    }

    .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 1px;
      color: #576168;
      @media (max-width: 767px) {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.5px;
        color: #2D3942;
      }
    }

    a {
      display: inline-flex;
      align-items: center;
      color: #ffffff;
    }

    .button_icon {
      background-image: url('https://hsk-landing.s3-us-west-2.amazonaws.com/resources/smart/web/icon_chrome.svg');
      float: left;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }

    .btn-blue {
      font-weight: 700;
      font-size: 16px;
      line-height: 36px;
      letter-spacing: 1px;
      color: #FFFFFF;
      background: #6ACFED;
      border-radius: 40px;
      display: inline-flex;
      padding: 9px 16px;
      margin-top: 40px;

      &:hover {
        background: #93e2fa;
      }

      @media (max-width: 767px) {
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;
        width: 267px;
      }
    }

    .btn-orange {
      font-weight: 700;
      font-size: 16px;
      line-height: 36px;
      letter-spacing: 1px;
      color: #FFFFFF;
      background: #FFC05C;
      border-radius: 40px;
      display: inline-flex;
      padding: 9px 16px;
      margin-top: 40px;

      &:hover {
        background: #ffd084;
      }

      @media (max-width: 767px) {
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;
        width: 232px;
      }
    }
  }
}
