<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-9">
        <h1>A Fun Way To Learn Chinese</h1>
        <div>
          <img [useSrcset]="true" [lazyLoad]="picDailyWord">
          <div>Build Up Vocabulary</div>
          <div>Ponddy Daily Word </div>
          <div>Chrome extension that pushes digital flashcards for Mandarin Chinese words to your "new tab" page every day. Add the extension to get familiar with Chinese words that match your proficiency level, and easily expand your vocabulary while surfing
            on the internet.</div>
          <a class="btn_general-primary_new text_btn">
            <div class="pd_btn_icon button_icon"></div>
            <span>Get Ponddy Daily Word For Chrome</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
