.free_class_section {
  margin-top: 60px;
  height: fit-content;
  padding: 58px 0 50px;
  box-sizing: border-box;
  background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/freeclass/pic_banner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media (max-width: 991.98px) {
    height: fit-content;
    background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/freeclass/pic_header_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #05426D;
    text-align: left;
    max-width: 485px;
    //-moz-text-shadow: 0 0 2px  #FBFCFC;
    //-webkit-text-shadow: 0 0 2px  #FBFCFC;
    @media (max-width: 991.98px) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .date_counter_wrap {
    text-align: left;
    margin-top: 12px;
    display: flex;
    align-items: baseline;
    span {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #D64059;
      font-weight: bold;
    }
    .btn_focus-primary {
      color: #FFFFFF;
      font-weight: bold;
      margin-top: 16px;
      margin-left: 42px;
      @media (max-width: 767px) {
        margin: 36px 0 0;
      }
    }
  }

  .w-100 {
    height: 100%;
  }

  .background {
    height: 100%;
    width: 100%;
  }

}
