<section class="free_class_section">
  <div class="view w-100">
    <div class="background">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7 text-center">
            <h1 i18n>Ponddy Online HSK Chinese Courses</h1>
            <div class="date_counter_wrap">
              <span>Limited Time Offer</span>
              <app-date-counter [countDownDateString]="'Mar 17, 2021 23:00:00'"></app-date-counter>
<!--              <a class="btn_focus-primary" style="margin-left: 42px">Buy</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
