.landing {
  margin-top: 60px;
  height: calc(70vh - 65px);
  box-sizing: border-box;
  background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/resources/course/web/index_pic_web.png");
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 991.98px) {
    height: calc(70vh - 65px);
    background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/resources/course/mobile/index_pic_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
    color: #FFFFFF;
    @media (max-width: 991.98px) {
      font-size: 30px;
      line-height: 38px;
    }
  }
  .iconify_wrap {
    //position: absolute;
    //right: 0;
    //bottom: 100px;
    //left: calc(50% - 16px);
    z-index: 15;
    text-align: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: none;
    margin: 36px auto 0;

    @media (max-width: 992px) {
      display: block;
    }
    .iconify {
      color: #FFFFFF;
      font-size: 32px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .w-100 {
    height: 100%;
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    .padding_space {
      height: 33%;
      width: 100%;
    }
    .mask_space {
      height: 67%;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
  }
  .container {
    padding-top: 15px;
    @media (max-width: 992px) {
      position: absolute;
      bottom: 90px;
    }
  }
}

.landing__preparation {
  background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/resources/index_pic_web-preparation.svg");
  background-size: cover;
  @media (max-width: 991.98px) {
    height: calc(70vh - 65px);
    background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/resources/preparation/mobile/index_pic_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    color: #FFFFFF;
    @media (max-width: 991.98px) {
      font-size: 32px;
      line-height: 42px;
    }
  }
}

.landing__smart {
  background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/resources/smart/web/index_pic_web.png");
  background-size: cover;
  @media (max-width: 991.98px) {
    height: calc(70vh - 65px);
    background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/resources/smart/mobile/index_pic_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    color: #FFFFFF;
    @media (max-width: 991.98px) {
      font-size: 32px;
      line-height: 42px;
    }
  }
}
