<section *ngIf="tab===0" class="landing">
    <div class="view w-100">
        <div class="background">
            <div class="padding_space"></div>
            <div class="mask_space">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-10">
                            <h1 i18n>Advance your Chinese skills and Get ready for HSK </h1>
                            <div class="learn_more orange_text">
                                <p i18n>Learn more</p>
                                <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="tab===1" class="landing landing__preparation test_intro">
    <div class="view w-100">
        <div class="background">
            <div class="padding_space"></div>
            <div class="mask_space">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-10 title">
                            <h1 i18n>Prepare Your Test the Smart Way with Ponddy</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section *ngIf="tab===2" class="landing test_intro">
    <div class="view w-100">
        <div class="background">
            <div class="padding_space"></div>
            <div class="mask_space">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-10">
                            <h1 i18n>Take Chinese Proficiency Test from Home at Ponddy HSK</h1>
                            <p i18n class="desciption">*test takers residing in USA only</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
