.landing {
  margin-top: 60px;
  height: calc(70vh - 65px);
  box-sizing: border-box;
  position: relative;
  @media (max-width: 1024px) {
    height: auto;
  }
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    color: #fff;
    @media (max-width: 991.98px) {
      font-size: 30px;
      line-height: 38px;
    }
  }
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #fff;
    @media (max-width: 991.98px) {
      font-weight: normal;
    }
  }
  p {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    font-weight: 700;
    @media (max-width: 991.98px) {
      height: 24px;
      left: 28px;
    }
  }
  .title {
    max-width: 824px;
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    pointer-events: none;
    .padding_space {
      height: 33%;
      width: 100%;
    }
    .mask_space {
      height: 67%;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
  }

    .carousel,
     ::ng-deep .carousel-inner {
      height: auto;
      min-height: 500px;
      @media (max-width: 1024px) {
        height: auto;
        min-height: 0;
      }
    }
    .w-100 {
      max-height: calc(100vh - 65px);
      overflow: hidden;
    }
     ::ng-deep.carousel-control-prev {
      display: none;
    }
     ::ng-deep.carousel-control-next {
      display: none;
    }

    .container {
      position: absolute;
      //top: 43vh;
      bottom: 25vh;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      @media (max-width: 991.98px) {
        bottom: 16vh;
        top: auto;
      }
    }
    img.d-block {
      height: auto;
      width: 100%;
    }
    img.ng-lazyloading {
      opacity: 0.5;
    }
    img.ng-lazyloaded {
      animation: fadein 1s;
    }
    @keyframes fadein {
      from { opacity:  0.5; }
      to   { opacity: 1; }
    }
    ::ng-deep.carousel-indicators {
    position: absolute;
    bottom: 96px;
    z-index: 15;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    @media (max-width: 991.98px) {
      display: none;
    }
    li {
      opacity: 1;
      height: 8px;
      width: 8px;
      border: 8px solid transparent !important;
      background-color: rgba(255, 255, 255, 0.35);
      &.active {
        background-color: #FFFFFF;
      }
    }
    }
}
