<section class="resources_course_courses">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center bg_table">
        <h1>Ponddy Online HSK Courses</h1>
        <div class="table">
          <div class="table__th orange_base">
            <div>Course Details</div>
          </div>
          <div class="table__tr">
            <div class="table__tb">Format</div>
            <div class="table__tb__description">
              <div>
                <img [lazyLoad]="'assets/image/resources/format.svg'">
              </div>
              <div>
                1-on-1 class
              </div>
            </div>
          </div>
          <div class="table__tr">
            <div class="table__tb">Frequency</div>
            <div class="table__tb__description">
              <div>
                <img [lazyLoad]="'assets/image/resources/frequency.svg'">
              </div>
              <div>
                50 mins/session, 4 sessions/week
              </div>
            </div>
          </div>
          <div class="table__tr">
            <div class="table__tb">Schedule</div>
            <div class="table__tb__description">
              <div>
                <img [lazyLoad]="'assets/image/resources/schedule.svg'">
              </div>
              <div>
                                <span class="table__tb__description__title">
                                  choose from the following 2 options
                                </span>
                <br/> ・2 sessions per day, 2 days per week
                <br/> ・1 session per day, 4 days per week
              </div>
            </div>
          </div>
          <div class="table__tr table__tr__no">
            <div class="table__tb">Time slots</div>
            <div class="table__tb__description">
              <div><img [lazyLoad]="'assets/image/resources/time-slots.svg'"></div>
              <div>
                ・4 pm - 9 pm (PST), Monday to Thursday
                <br/> ・7 pm - 12 am (EST), Monday to Thursday
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div class="table table__adult">
          <div class="table__title">HSK for Adult<span class="table__title__description">(Age 18+)</span></div>
          <div class="table__shadow">
            <div class="table__th orange_base">
              <div class="table__tb level">Level</div>
              <div class="sessions">Sessions</div>
            </div>
            <div class="table__tr">
              <div class="table__tb level">HSK 1&2 (Lv0)</div>
              <div class="table__tb__description sessions">
                36
              </div>
            </div>
            <div class="table__tr">
              <div class="table__tb level">HSK 3 (Lv1)</div>
              <div class="table__tb__description sessions">
                40
              </div>
            </div>
            <div class="table__tr table__tr__no">
              <div class="table__tb level">HSK 4 (Lv2)</div>
              <div class="table__tb__description sessions">
                48
              </div>
            </div>
          </div>
        </div>


        <div class="table table__student">
          <div class="table__title">HSK for Student<span class="table__title__description">(Age 12-18)</span></div>
          <div class="table__shadow">
            <div class="table__th ponddy_base">
              <div class="table__tb level">Level</div>
              <div class="sessions">Sessions</div>
            </div>
            <div class="table__tr">
              <div class="table__tb level">HSK 1&2 (Lv0)</div>
              <div class="table__tb__description sessions">
                40
              </div>
            </div>
            <div class="table__tr">
              <div class="table__tb level">HSK 3 (Lv1)</div>
              <div class="table__tb__description sessions">
                48
              </div>
            </div>
            <div class="table__tr table__tr__no">
              <div class="table__tb level">HSK 4 (Lv2)</div>
              <div class="table__tb__description sessions">
                96
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

</section>


<section class="resources_course_img">
  <div class="container">
    <div class="row course justify-content-center">
      <div class="col-12 col-md-5">
        <img class="main" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/pic_HSK12_w.png'">
      </div>
      <div class="col-12 col-md-5">
        <div class="text_wrap">
          <img class="course_order" alt="hsk course 1 & 2" [lazyLoad]="'/assets/image/resources/pic_HSK_1_2.svg'">
          <div class="content_description">
            Students will learn basic Mandarin Chinese skills through simple conversations. Students are expected to
            achieve HSK 1&2 equivalent proficiency level after completing this course.
          </div>
          <div class="content_list_title">
            Can-do
          </div>
          <ul class="content_list">
            <li>Understand and use simple Chinese vocabulary and sentences to fulfill basic social needs</li>
            <li>Have simple conversations on familiar and everyday topics</li>
          </ul>
          <button i18n class="btn_focus-primary text_btn"> Learn More</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row course reverse justify-content-center">
      <div class="col-12 col-md-5">
        <div class="text_wrap">
          <img class="course_order" alt="hsk course 1 & 2" [lazyLoad]="'/assets/image/resources/pic_HSK_3.svg'">
          <div i18n class="content_description">
            Students will master more Mandarin Chinese expressions on multiple topics and situations to fulfill basic social and work communication needs.
            Students are expected to achieve HSK 3 equivalent proficiency level after completing this course.
          </div>
          <div i18n class="content_list_title">
            Can-do
          </div>
          <ul class="content_list">
            <li>Interact with others to complete basic tasks related to day-to-day  activities, study, and work</li>
            <li>Present personal information, preference, and opinion on familiar and topics</li>
          </ul>
          <button i18n class="btn_focus-primary text_btn"> Learn More</button>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <img class="main" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/pic_HSK3_w.png'">
      </div>
    </div>
    <hr>
    <div class="row course justify-content-center">
      <div class="col-12 col-md-5">
        <img class="main" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/pic_HSK4_w.png'">
      </div>
      <div class="col-12 col-md-5">
        <div class="text_wrap">
          <img class="course_order" alt="hsk course 1 & 2" [lazyLoad]="'/assets/image/resources/pic_HSK_4.svg'">
          <div i18n class="content_description">
            Students will be able to explore broader topics and use Mandarin Chinese more smoothly in real life and communicate fluently with native speakers.
            Students are expected to achieve HSK 4 equivalent proficiency level after completing this course.
          </div>
          <div i18n class="content_list_title">
            Can-do
          </div>
          <ul class="content_list">

            <li i18n>Use coherent sentences to present facts and elaborate on preferences and opinions on topics including hobbies, plans, and lifestyles</li>
            <li i18n>Engage in simple conversations regarding personal needs, such as looking for help, making reservations, and arranging schedules.</li>
          </ul>
          <button i18n class="btn_focus-primary text_btn"> Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>
