<section class="intro_course">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <h1>Ponddy Online HSK Courses</h1>
        <p class="title-explain">
          Ponddy Online HSK Courses is perfect for all students who aim to take HSK tests. Our experienced teachers use AI-powered learning platform and tools to supplement so that you can master everything you need to tackle the desired HSK level faster and easier.
          Check out course descriptions and details below for the course that suits your need!
        </p>
      </div>
      <div class="col-12 col-md-9 text-center tab">
        <div class="title text_p-18" [class.active]="tabItem=='hsk12'" (click)="checkTab('12')">HSK 1-2</div>
        <div class="title text_p-18" [class.active]="tabItem=='hsk3'" (click)="checkTab('3')">HSK 3</div>
        <div class="title text_p-18" [class.active]="tabItem=='hsk4'" (click)="checkTab('4')">HSK 4</div>
        <div class="title text_p-18" [class.active]="tabItem=='hsk4plus'" (click)="checkTab('4plus')">HSK 4+</div>
      </div>

      <div *ngIf="tabItem==='hsk12'" class="col-12 col-md-9 text-center tab-content">
        <div class="tab-top">
          <img class="col-11 col-md-4" [useSrcset]="true" [lazyLoad]="pic_HSK12">
          <div>
            <div>
              <div class="title">Description</div>
              <div class="text">Students will learn basic Mandarin Chinese skills through simple conversations. Students are expected to achieve HSK 1&2 equivalent proficiency level after completing this course.</div>
            </div>
            <hr>
            <div>
              <div class="title">Can-do</div>
              <div class="text">
                <ul>
                  <li>Understand and use simple Chinese vocabulary and sentences to fulfill basic social needs </li>
                  <li>Have simple conversations on familiar and everyday topics</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="learn_more orange_text mobile">
          <p i18n>Sign Up</p>
          <img src="/assets/image/icon/btn_orange_normal.svg">
        </div>
        <img class="col-12 tab-img" [useSrcset]="true" [lazyLoad]="table_HSK12">
        <a class="btn_focus-primary text_btn">Sign Up</a>
        <div class="annotation">No worries. You’ll get a free trial before you commit.</div>
      </div>

      <div *ngIf="tabItem==='hsk3'" class="col-12 col-md-9 text-center tab-content">
        <div class="tab-top">
          <img class="col-11 col-md-4" [useSrcset]="true" [lazyLoad]="pic_HSK3">
          <div>
            <div>
              <div class="title">Description</div>
              <div class="text">
                Students will master more Mandarin Chinese expressions on multiple topics and situations to fulfill basic social and work communication needs. Students are expected to achieve HSK 3 equivalent proficiency level after completing this course.
              </div>
            </div>
            <hr>
            <div>
              <div class="title">Can-do</div>
              <div class="text">
                <ul>
                  <li>Interact with others to complete basic tasks related to day-to-day activities, study, and work.</li>
                  <li>Present personal information, preference, and opinion on familiar and topics.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="learn_more orange_text mobile">
          <p i18n>Sign Up</p>
          <img src="/assets/image/icon/btn_orange_normal.svg">
        </div>
        <img class="col-12 tab-img" [useSrcset]="true" [lazyLoad]="table_HSK3">
        <a class="btn_focus-primary text_btn">Sign Up</a>
        <div class="annotation">No worries. You’ll get a free trial before you commit.</div>
      </div>

      <div *ngIf="tabItem==='hsk4'" class="col-12 col-md-9 text-center tab-content">
        <div class="tab-top">
          <img class="col-11 col-md-4" [useSrcset]="true" [lazyLoad]="pic_HSK4">
          <div>
            <div>
              <div class="title">Description</div>
              <div class="text">
                Students will be able to explore broader topics and use Mandarin Chinese more smoothly in real life and communicate fluently with native speakers. Students are expected to achieve HSK 4 equivalent proficiency level after completing this course.
              </div>
            </div>
            <hr>
            <div>
              <div class="title">Can-do</div>
              <div class="text">
                <ul>
                  <li>Use coherent sentences to present facts and elaborate on preferences and opinions on topics including hobbies, plans, and lifestyles. </li>
                  <li>Engage in simple conversations regarding personal needs, such as looking for help, making reservations, and arranging schedules.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="learn_more orange_text mobile">
          <p i18n>Sign Up</p>
          <img src="/assets/image/icon/btn_orange_normal.svg">
        </div>
        <img class="col-12 tab-img" [useSrcset]="true" [lazyLoad]="table_HSK4">
        <a class="btn_focus-primary text_btn">Sign Up</a>
        <div class="annotation">No worries. You’ll get a free trial before you commit.</div>
      </div>

      <div *ngIf="tabItem==='hsk4plus'" class="col-12 col-md-9 text-center tab-content">
        <div class="tab-top">
          <img class="col-11 col-md-4" [useSrcset]="true" [lazyLoad]="pic_HSK4plus">
          <div class="text">
            As the official partner of HSK, Ponddy guarantees that all our courses are updated with any test and leveling changes of HSK. Stay tuned for more courses!
          </div>
          <div class="free-trial-button">
            Get a free trial class now.
          </div>
          <a class="btn_focus-primary text_btn">Sign Up</a>
        </div>
        <img class="col-12 tab-img" [useSrcset]="true" [lazyLoad]="table_HSK4plus">
        <a class="btn_focus-primary text_btn">Sign Up</a>
        <div class="annotation">No worries. You’ll get a free trial before you commit.</div>
      </div>
    </div>
  </div>
</section>
    </div>
  </div>
</section>
<br>

<!-- <section class="resources_course_img">
  <div class="container">
    <div class="row course justify-content-center">
      <div class="col-12 col-md-5">
        <img class="main" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/pic_HSK12_w.png'">
      </div>
      <div class="col-12 col-md-5">
        <div class="text_wrap">
          <img class="course_order" alt="hsk course 1 & 2" [lazyLoad]="'/assets/image/resources/pic_HSK_1_2.svg'">
          <div class="content_description">
            Students will learn basic Mandarin Chinese skills through simple conversations. Students are expected to achieve HSK 1&2 equivalent proficiency level after completing this course.
          </div>
          <div class="content_list_title">
            Can-do
          </div>
          <ul class="content_list">
            <li>Understand and use simple Chinese vocabulary and sentences to fulfill basic social needs</li>
            <li>Have simple conversations on familiar and everyday topics</li>
          </ul>
          <button i18n class="btn_focus-primary text_btn"> Start Free Trial</button>
        </div>
      </div>
    </div>

    <div class="row course reverse justify-content-center">
      <div class="col-12 col-md-5">
        <div class="text_wrap">
          <img class="course_order" alt="hsk course 1 & 2" [lazyLoad]="'/assets/image/resources/pic_HSK_3.svg'">
          <div i18n class="content_description">
            Students will master more Mandarin Chinese expressions on multiple topics and situations to fulfill basic social and work communication needs. Students are expected to achieve HSK 3 equivalent proficiency level after completing this course.
          </div>
          <div i18n class="content_list_title">
            Can-do
          </div>
          <ul class="content_list">
            <li>Interact with others to complete basic tasks related to day-to-day activities, study, and work</li>
            <li>Present personal information, preference, and opinion on familiar and topics</li>
          </ul>
          <button i18n class="btn_focus-primary text_btn"> Start Free Trial</button>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <img class="main" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/pic_HSK3_w.png'">
      </div>
    </div>

    <div class="row course justify-content-center">
      <div class="col-12 col-md-5">
        <img class="main" [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/resources/pic_HSK4_w.png'">
      </div>
      <div class="col-12 col-md-5">
        <div class="text_wrap">
          <img class="course_order" alt="hsk course 1 & 2" [lazyLoad]="'/assets/image/resources/pic_HSK_4.svg'">
          <div i18n class="content_description">
            Students will be able to explore broader topics and use Mandarin Chinese more smoothly in real life and communicate fluently with native speakers. Students are expected to achieve HSK 4 equivalent proficiency level after completing this course.
          </div>
          <div i18n class="content_list_title">
            Can-do
          </div>
          <ul class="content_list">

            <li i18n>Use coherent sentences to present facts and elaborate on preferences and opinions on topics including hobbies, plans, and lifestyles</li>
            <li i18n>Engage in simple conversations regarding personal needs, such as looking for help, making reservations, and arranging schedules.</li>
          </ul>
          <button i18n class="btn_focus-primary text_btn"> Start Free Trial</button>
        </div>
      </div>
    </div>
  </div>
</section> -->