

.intro_course {
  padding: 64px 0;
  background-color: #F4F0EB;
  ::ng-deep.mat-tab-body-wrapper {
    width: 100%;
  }
  h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
  }

  .table {
    display: inline-block;
    width: 688px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 0;
    @media (max-width: 768px) {
      width: 100% !important;
    }

    &__title {
      font-weight: 900;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 1px;
      color: #2D3942;
      margin-bottom: 20px;
      margin-top: 40px;

      &__description {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 1px;
        color: #576168;
        margin-left: 10px;
      }
    }

    &__shadow {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
    }

    &__adult {
      width: 340px;
    }

    &__student {
      width: 340px;
      margin-left: 24px;
      @media (max-width: 768px) {
        margin-left: auto;
      }
    }

    &__th {
      display: flex;
      border-radius: 12px 12px 0px 0px;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 1px;
      color: #FFFFFF;
      height: 66px;
      padding: 11px 24px;
      .table__tb{
        color: #ffffff;
        border-right: 1px solid #fff;
        width: 164px;
      }
      &.orange_base {
        background: #FFC05C;
      }

      &.ponddy_base {
        background: #6ACFED;
      }

      &.level {
        padding-right: 24px;
        border-right: 1px #ffffff solid;
        width: 166px;
        line-height: 58px;
        @media (max-width: 768px) {
          width: 100%;
          padding: 0;
        }
      }

      & .sessions {
        padding-left: 24px;
        @media (max-width: 768px) {
          width: 100%;
          padding: 0;
        }
      }
    }

    &__tr {
      background-color: #ffffff;
      display: flex;
      text-align: left;
      padding: 11px 24px;
      border-bottom: 1px dashed #D5D7D9;

      &__no {
        border-bottom: none;
        border-radius: 0 0 12px 12px;
      }
    }

    &__tb {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 1px;
      color: #2D3942;
      width: 122px;
      padding: 13px 0;
      border-right: 1px solid #D5D7D9;
      @media (max-width: 768px) {
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        width: 40%;
        letter-spacing: 0.5px;
      }

      &.level {
        width: 171px;
        @media (max-width: 768px) {
          width: 100%;
          font-size: 16px;
        }
      }

      &__description {
        display: flex;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
        color: #576168;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 24px;
        font-weight: 400;
        // width: 80%;
        @media (max-width: 768px) {
          width: 80%;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.5px;
        }

        img {
          padding-right: 10px;
          @media (max-width: 768px) {
            display: none;
          }
        }

        &__title {
          font-weight: bold;
        }

        &.sessions {
          width: 85px;
          justify-content: flex-end;
          @media (max-width: 768px) {
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0;
          }
        }
      }
    }
  }
}


.resources_course_img {
  padding: 80px 0;
  background: url('/assets/image/resources/pic_BKG.png'), #FBF9F7;
  @media (max-width: 991.98px) {
    padding: 12px 16px;
  }

  img.main {
    max-width: 436px;
    max-height: 436px;
    width: 100%;
    height: auto;
    //margin: 0 60px;
  }
  hr{
    border: 1px dashed #D5D7D9;
    margin: 0;
    width: 100vw;
    position: absolute;
    left: 0;
  }
  .course {
    padding: 80px 0;
    //border-bottom: 1px dashed #D5D7D9;
    &:nth-last-child(1){
      border-bottom: none;
    }
    @media (max-width: 991.98px) {
      padding: 24px 0;

      &.reverse{
        flex-direction: column-reverse;
      }
    }

    .text_wrap {
      text-align: left;
      //width: ;
      max-width: 520px;

      img.course_order {
        max-width: 260px;
        max-height: 94px;
        @media (max-width: 991.98px) {
         margin: 24px 0 8px;
        }
      }

      .content_description {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.5px;
        color: #2D3942;
        margin-bottom: 24px;
        @media (max-width: 991.98px) {
          margin-bottom: 16px;
        }
      }

      .content_list_title {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin-bottom: 8px;
      }

      ul.content_list {
        padding-inline-start: 20px;
        margin-bottom: 24px;
        @media (max-width: 991.98px) {
          margin-bottom: 20px;

        }

        li {
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.5px;
          color: #2D3942;
        }
      }

      &__left {
        justify-content: left;
      }
    }

  }
}
