<section class="landing">
  <mdb-carousel
          *ngIf="device.isBrowser"
          class="carousel slide carousel-fade" [animation]="'fade'" [allowSwipe]="true">
    <mdb-carousel-item>

      <div class="view w-100">
        <img class="d-block w-100"  [src]="carouselImageList[0]" alt="First slide">
        <div class="mask waves-light" mdbWavesEffect></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11 col-md-10">
              <h1 i18n i18n>Ponddy® HSK Smart Learning to Tackle the Chinese Proficiency Test</h1>
              <div class="learn_more orange_text">
                <p i18n>Learn more</p>
                <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" [lazyLoad]="carouselImageList[1]" alt="Second slide">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11 col-md-10">
              <h1 i18n>Welcome To The First At-home Ponddy® HSK Online Test Center In The USA Earn Your Extra Cutting Edge While Staying Safe</h1>
              <div class="learn_more orange_text">
                <p i18n>Learn more</p>
                <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" [lazyLoad]="carouselImageList[2]"  alt="Third slide">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11 col-md-10">
              <h1 i18n>Get Ready For The HSK Test With Ponddy® AI-Powered Interactive Platform & Experienced Online Tutors.</h1>
              <div class="learn_more orange_text">
                <p i18n>Learn more</p>
                <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" [lazyLoad]="carouselImageList[3]"
             alt="Third slide">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11 col-md-10">
              <h1 i18n>Ponddy® Smart Learning To Help Your Kids Prepare For The Future Chinese Proficiency Test</h1>
              <div class="learn_more orange_text">
                <p i18n>Learn more</p>
                <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" [lazyLoad]="carouselImageList[4]"
             alt="Third slide">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11 col-md-10">
              <h1 i18n>Ponddy® Smart AI Platform To Help Your Students Master The Chinese Language </h1>
              <div class="learn_more orange_text">
                <p i18n>Learn more</p>
                <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <div *ngIf="!device.isBrowser">
    <div class="view w-100">
      <img class="d-block w-100" [src]="carouselImageList[0]" alt="First slide">
      <div class="mask waves-light" mdbWavesEffect></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-11 col-md-10">
            <h1 i18n i18n>Ponddy® HSK Smart Learning to Tackle the Chinese Proficiency Test</h1>
            <div class="learn_more orange_text">
              <p i18n>Learn more</p>
              <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
