.landing {
  margin-top: 60px;
  height: auto;
  box-sizing: border-box;
  position: relative;
  @media (max-width: 1024px) {
    height: auto;
  }
  .learn_more {
    display: flex;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 16px;
    align-items: center;
    .orange_text {
      color: #F3A024;
    }
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
    color: #FFFFFF;
    &.smaller_title {
      font-size: 42px;
      line-height: 52px;
    }
    @media (max-width: 991.98px) {
      font-size: 30px;
      line-height: 38px;
      &.smaller_title {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }
  .iconify_wrap {
    position: absolute;
    right: 0;
    bottom: 40px;
    left: calc(50% - 16px);
    z-index: 15;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: auto;
     ::ng-deep.iconify {
      color: #FFFFFF;
      font-size: 32px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    pointer-events: none;
    .padding_space {
      height: 33%;
      width: 100%;
    }
    .mask_space {
      height: 67%;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
  }
  mdb-carousel {
    .carousel,
     ::ng-deep .carousel-inner {
      // height: auto;
      min-height: 500px;
      @media (max-width: 1024px) {
        // height: auto;
      }
    }
    .w-100 {
      max-height: calc(100vh - 65px);
      overflow: hidden;
    }
     ::ng-deep.carousel-control-prev {
      display: none;
    }
     ::ng-deep.carousel-control-next {
      display: none;
    }
    mdb-carousel-item {
      .container {
        position: absolute;
        //top: 43vh;
        bottom: 25vh;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        @media (max-width: 991.98px) {
          bottom: 16vh;
          top: auto;
        }
      }
      img.d-block {
        height: auto;
        width: 100%;
      }
      img.ng-lazyloading {
        opacity: 0.5;
      }
      img.ng-lazyloaded {
        animation: fadein 1s;
      }
      @keyframes fadein {
        from { opacity:  0.5; }
        to   { opacity: 1; }
      }
    }
     ::ng-deep.carousel-indicators {
      position: absolute;
      bottom: 96px;
      z-index: 15;
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      @media (max-width: 991.98px) {
        display: none;
      }
      li {
        opacity: 1;
        //margin-right: 8px;
        //margin-left: 8px;
        height: 8px;
        width: 8px;
        border: 8px solid transparent !important;
        background-color: rgba(255, 255, 255, 0.35);
        &.active {
          background-color: #FFFFFF;
        }
      }
    }
  }
}

.free_class_section {
  height: fit-content;
  padding: 58px 0 50px;
  box-sizing: border-box;
  background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/freeclass/pic_banner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media (max-width: 991.98px) {
    height: fit-content;
    background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/freeclass/pic_header_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #05426D;
    text-align: left;
    max-width: 485px;
    //-moz-text-shadow: 0 0 2px  #FBFCFC;
    //-webkit-text-shadow: 0 0 2px  #FBFCFC;
    @media (max-width: 991.98px) {
      font-size: 30px;
      line-height: 38px;
    }
  }
  .date_counter_wrap {
    text-align: left;
    margin-top: 12px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    span {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #D64059;
      font-weight: bold;
    }
    .btn_focus-primary {
      color: #FFFFFF;
      font-weight: bold;
      margin-top: 16px;
      margin-left: 42px;
      @media (max-width: 767px) {
        margin: 36px 0 0;
      }
    }
  }
  .w-100 {
    height: 100%;
  }
  .background {
    height: 100%;
    width: 100%;
  }
}
