.landing {
  margin-top: 60px;
  height: calc(100vh - 65px);
  box-sizing: border-box;
  @media (max-width: 768px)  {
    height: auto;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 62px;
    color: #FFFFFF;
    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 42px;
    }
  }
  
  
  mdb-carousel {
    .carousel, ::ng-deep .carousel-inner {
      height: calc(100vh - 65px);
      @media (max-width: 768px)  {
        height: auto;
      }
    }
    
    ::ng-deep.carousel-control-prev {
      display: none;
      
    }
    
    ::ng-deep.carousel-control-next {
      display: none;
    }
    
    mdb-carousel-item .container {
      position: absolute;
      top: 48vh;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      @media (max-width: 768px) {
        top: 24vh;
      }
    }
    
    ::ng-deep.carousel-indicators {
      position: absolute;
      //right: 0;
      top: 0;
      left: 94vw;
      align-items: flex-end;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 3%;
      margin-left: 15%;
      list-style: none;
      flex-direction: column;
      width: 10px;
      margin: 0;
      
      @media (max-width: 768px) {
        display: none;
      }
      
      li {
        opacity: 1;
        
        &.active {
          background-color: #93E2FA;
        }
      }
    }
  }
}
