.landing {
  margin-top: 60px;
  height: calc(33vh - 65px);
  box-sizing: border-box;
  background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/enrollTest/pic_header.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media (max-width: 991.98px) {
    height: calc(33vh - 65px);
    background-image: url("https://hsk-landing.s3-us-west-2.amazonaws.com/enrollTest/pic_header_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .iconify_wrap {
    position: absolute;
    right: 0;
    bottom: 40px;
    left: calc(50% - 16px);
    z-index: 15;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: auto;
    .iconify {
      color: #FFFFFF;
      font-size: 32px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
    color: #FFFFFF;
    @media (max-width: 991.98px) {
      font-size: 30px;
      line-height: 38px;
    }
  }
  .w-100 {
    height: 100%;
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    .padding_space {
      height: 33%;
      width: 100%;
    }
    .mask_space {
      height: 67%;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
  }
  .container {
    padding-top: 15px;
    @media (max-width: 992px) {
      position: absolute;
      top: 49px;
      padding-top: 0;
    }
  }
}
