<section class="course">
  <div class="background">
    <div class="top"></div>
    <div class="bottom"></div>
  </div>
  <div class="container">
    <div class="row text-center">
      <h1 i18n class="title">HSK Course</h1>
    </div>
    <div class="row">
      <carousel #course_carousel [height]="500" [cellWidth]="360" [dots]="false" [arrows]="false">
        <div class="carousel-cell">
          <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/course_pic_01.png">
          <h2 i18n>HSK 1 & 2</h2>
          <p i18n class="level">Average Level: HSK 1~2</p>
          <h2 i18n class="ta">HSK for Adult </h2>
        </div>
        <div class="carousel-cell">
          <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/course_pic_02.png">
          <h2 i18n>HSK 3</h2>
          <p i18n class="level">Average Level: HSK 3</p>
          <h2 i18n class="ta">HSK for Adult </h2>
        </div>
        <div class="carousel-cell">
          <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/course_pic_03.png">
          <h2 i18n>HSK 4</h2>
          <p i18n class="level">Average Level: HSK 4</p>
          <h2 i18n class="ta">HSK for Adult </h2>
        </div>
        <div class="carousel-cell">
          <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/course_pic_04.png">
          <h2 i18n>HSK 3</h2>
          <p i18n class="level">Average Level: HSK 3</p>
          <h2 i18n class="ta">HSK for Student</h2>
        </div>
      </carousel>
    </div>
    <div class="row">
      <div class="arrow">
        <img class="left" src="/assets/image/icon/btn_normal_left.svg" (click)="coursePrev()">
        <img class="right" src="/assets/image/icon/btn_normal_right.svg" (click)="courseNext()">
      </div>
    </div>
    <div class="row text-center help">
      <h1 i18n>Need help to nail the tests?</h1>
    </div>
    <div class="flex-center">
    <button i18n class="btn_focus-primary">
      Read more
    </button>
    </div>
  </div>
</section>
