.course {
  padding-bottom: 64px;
  position: relative;
  @media (max-width: 767px) {
    padding-bottom: 36px;
    
  }
  h1.title {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #2D3942;
    font-weight: 900;
    margin-bottom: 44px;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      margin-bottom: 22px;
    }
  }
  
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    .top {
      height: 30%;
    }
    
    .bottom {
      height: 70%;
      background: #F5F0EB;
    }
  }
  
  
  .carousel-cell {
    padding: 0 30px;
    border-right: 1px solid #D5D7D9;;
    
    @media (max-width: 767px) {
      padding: 0 24px;
    }
    
    img {
      height: auto;
    }
    
    h2 {
      margin-top: 24px;
      font-size: 24px;
      line-height: 36px;
      color: #2D3942;
      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 36px
      }
    }
    
    .level {
      font-weight: normal;
    }
    
    .ta {
      color: #F3A024;
    }
  }
  
  .arrow {
    padding-left: 38px;
    
    img {
      height: 50px;
      width: 50px;
      cursor: pointer;
    }
    
    .left {
      &:hover {
        content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_hover_left.svg");
      }
    }
    
    .right {
      margin-left: 32px;
      
      &:hover {
        content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_hover_right.svg");
      }
    }
  }
  
  .help {
    h1 {
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      letter-spacing: 1px;
      color: #F3A024;
      margin: 32px 0;
      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 36px;
        margin: 40px 0 24px;
      }
    }
  }
  
  .btn_focus-primary {
    border: none;
  }
}

