.navbar-toggler {
  border: none;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .icon-bar {
    background-color: #3fb2d1;
    transition: all 0.3s;
    width: 20px !important;
    height: 3px !important;
    border-radius: 4px;
    margin-bottom: 4px !important;
    margin-top: 0px !important;
    display: block;
  }
  
  .icon-bar:nth-child(3) {
    margin-bottom: 0px !important;
  }
  
  .icon-text {
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    line-height: 1;
    color: #3fb2d1;
    margin-top: 5px;
  }
}


.mat-expanded {
  .navbar-toggler .icon-bar:first-child {
    transform-origin: right;
    transform: rotate(-45deg);
  }
  
  .navbar-toggler .icon-bar:nth-child(2) {
    background-color: #fff;
  }
  
  .navbar-toggler .icon-bar:nth-child(3) {
    transform-origin: right;
    transform: rotate(45deg);
    margin-bottom: 0 !important;
  }
  
  .navbar-toggler .icon-text {
    visibility: hidden;
  }
}


::ng-deep.cdk-overlay-pane {
  margin-top: 12px;
  
  .mat-menu-panel {
    min-width: 300px;
  }
  .mat-menu-content:not(:empty){
    padding: 0!important;
  }
}

.mat-menu-item {
  padding: 0 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  min-width: 300px;
  height: 58px;
}

.pd-menu-item {
  &:hover {
    background: #FBFCFC;
    a {
      color: #6ACFED !important;
    }
  }
  &:focus{
    background: inherit;
  }
  a {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
    transition: color .5s ease-in-out;
    text-decoration: none;
    color: #576167 !important;
    font-weight: 700;
    height: 48px;
    font-family: Ponddy-NotoRubik;
    
    &.active {
      color: #3b9fbe !important;
      border: none !important;
    }
  }
}

mat-expansion-panel {
  width: 100%;
  box-shadow: none !important;
  
  mat-expansion-panel-header {
    padding: 0;
    
    mat-panel-title {
      justify-content: space-between;
    }
  }
  
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  margin-right: 0;
}

.mat-expansion-panel-content {
  height: 94vh;
}

@media (max-width: 767px) {
  
  .navbar-nav {
    flex-direction: column;
    
    .nav-item {
      max-height: fit-content !important;
    }
    
  }
  .pd-nav-item {
    
    a {
      cursor: pointer;
      line-height: 56px !important;
      letter-spacing: .5px;
      transition: color .5s ease-in-out;
      text-decoration: none;
      color: #576167 !important;
      font-weight: 700;
      font-size: 18px !important;
      height: 48px;
      padding: 13px 8px !important;
      margin: 4px 8px !important;
      
      &.active {
        color: #3b9fbe !important;
        border: none !important;
      }
    }
  }
}
