<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a href="/" class="home-link ponddy-logo">
      </a>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="pd-nav-item navbar-nav mr-auto text-center">
          <li class="nav-item nav-border-l nav-border-r">
            <a href="/" class="active nav-active text_menu" data="navbar">
              Home
            </a>
          </li>
          <li class="nav-item nav-border-r ">
            <a class="nav-a text_menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ponddy
            </a>
          </li>
          <li class="nav-item nav-border-r ">
            <a href="#" data="navbar" class="nav-a text_menu">
              Tests
            </a>
          </li>
          <li class="nav-item nav-border-r ">
            <a href="#" data="navbar" class="nav-a text_menu">
              Resource
            </a>
          </li>
          <li class="nav-item">
            <a href="#" data="navbar" class="nav-a text_menu">
              FAQ
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
