@font-face {
    font-family: Ponddy-NotoRubik;
    src: url("https://ponddychinese-resources.s3-us-west-2.amazonaws.com/fonts/PonddyNotoRubik/PonddyNotoRubik-Light.woff") format("woff"),
    url("https://ponddychinese-resources.s3-us-west-2.amazonaws.com/fonts/PonddyNotoRubik/PonddyNotoRubik-Light.ttf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: Ponddy-NotoRubik;
    src: url("https://ponddychinese-resources.s3-us-west-2.amazonaws.com/fonts/PonddyNotoRubik/PonddyNotoRubik-Regular.woff") format("woff"),
    url("https://ponddychinese-resources.s3-us-west-2.amazonaws.com/fonts/PonddyNotoRubik/PonddyNotoRubik-Regular.ttf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Ponddy-NotoRubik;
    src: url("https://ponddychinese-resources.s3-us-west-2.amazonaws.com/fonts/PonddyNotoRubik/PonddyNotoRubik-Bold.woff") format("woff"),
    url("https://ponddychinese-resources.s3-us-west-2.amazonaws.com/fonts/PonddyNotoRubik/PonddyNotoRubik-Bold.ttf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: Ponddy-NotoRubik;
    src: url("https://ponddychinese-resources.s3-us-west-2.amazonaws.com/fonts/PonddyNotoRubik/PonddyNotoRubik-Black.woff") format("woff"),
    url("https://ponddychinese-resources.s3-us-west-2.amazonaws.com/fonts/PonddyNotoRubik/PonddyNotoRubik-Black.ttf") format("opentype");
    font-weight: 900;
}