<section class="product">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12 text-center">
        <h1>Ponddy Smart Learning Products & Services</h1>
      </div>
    </div>
  </div>
  <div class="container product_item">
    <div class="row">
      <div class="col-11">
        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/ponddy/reader_pic_web.png'">
      </div>
      <div class="col-7"></div>
      <div class="col-5">
        <div class="card right">

        </div>
      </div>
    </div>
  </div>
  <div class="container product_item">
    <div class="row">
      <div class="col-11" style="margin-left: auto">
        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/ponddy/tutors_pic_web.png'">
      </div>
      <div class="col-5">
        <div class="card left">

        </div>
      </div>
    </div>
  </div>
  <div class="container product_item">
    <div class="row">
      <div class="col-11">
        <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/ponddy/smartTextbook_pic_web.png'">
      </div>
      <div class="col-7"></div>
      <div class="col-5">
        <div class="card right">

        </div>
      </div>
    </div>
  </div>
</section>
