.product {
  position: relative;
  @media (max-width: 767px) {
    padding: 0 20px 32px;
  }
  h1 {
    padding: 64px 0 50px;
    margin: 0;
    @media (max-width: 991.98px) {
      font-weight: 900;
      font-size: 24px;
      line-height: 36px;
      padding: 24px 0;
    }
  }
  .container {
    padding-left: 0;
    position: relative;
    @media (max-width: 767px) {
      padding-left: var(--bs-gutter-x, 0.75rem);
    }
  }
  .product_item {
    padding-bottom: 140px;
    @media screen and (max-width: 767px) {
      padding-bottom: 24px;
    }
  }
  mat-card {
    width: 450px;
    height: 690px;
    margin-top: 110px;
    background: #FFFFFF;
    border: 1px solid #EAEBEC;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
      margin-top: 0;
      border-radius: 0 0 12px 12px;
    }
    mat-card-header {
      height: 206px;
      padding: 40px 0 24px 16px;
      border-bottom: 1px dashed #969CA0;
      @media (max-width: 767px) {
        padding: 20px 0;
        height: 148px;
        img {
          height: auto;
        }
      }
       ::ng-deep.mat-card-header-text {
        margin: 0 !important;
      }
      img {
        height: 165px;
        width: 100%;
        @media (max-width: 767px) {
          height: auto;
        }
      }
    }
    mat-card-content {
      padding: 24px 16px;
      @media screen and (max-width: 767px) {
        padding: 24px 6px;
      }
      p.card_content {
        font-family: Ponddy-NotoRubik, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #576168;
        @media screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.5px;
        }
      }
    }
    &.right {
      margin-left: auto;
    }
    &.left {
      margin-right: auto;
    }
  }
  img.background_image {
    border-radius: 12px;
    height: auto;
    width: calc(100% - var(--bs-gutter-x));
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
    @media (max-width: 767px) {
      position: initial;
      width: 100%;
      border-radius: 12px 12px 0 0;
    }
  }
}