<section class="intro_test">
  <div class="container" style="display: flex;">
    <div class="row justify-content-center">
      <div class="col-11 col-md-3 test_ul web">
        <ul class="select_item">
          <li [class.active]="activeClass=='procedureClass'" value="1" (click)="menu_item(1)">
            <span>
              Registration Procedure
            </span>
          </li>
          <li [class.active]="activeClass=='registrationClass'" value="2" (click)="menu_item(2)">
            <span>
              Test Regulation
            </span>
          </li>
          <li [class.active]="activeClass=='scoreClass'" value="3" (click)="menu_item(3)">
            <span>
            Score and Report
          </span>
          </li>
          <li [class.active]="activeClass=='disciplineClass'" value="4" (click)="menu_item(4)">
            <span>
              Test Discipline
            </span>
          </li>
        </ul>
      </div>

      <div *ngIf="actvieItem == 'registrationProcedure'" class="col-11 col-md-7 registration_procedure">
        <div class="menu-group">
          <h1>Registration Procedure</h1>
        </div>
        <div class="content">
          <img [useSrcset]="true" [lazyLoad]="picRegistration">

          <div class="col-11 col-md-3 test_ul mobile">
            <hr>
            <ul class="select_item">
              <li [class.active]="activeClass=='procedureClass'" value="1" (click)="menu_item(1)">
                <a><span>Registration Procedure</span></a>
              </li>
              <li [class.active]="activeClass=='registrationClass'" value="2" (click)="menu_item(2)">
                <a><span>Test Regulation</span></a>
              </li>
              <li [class.active]="activeClass=='scoreClass'" value="3" (click)="menu_item(3)">
                <a><span>Score and Report</span></a>
              </li>
              <li [class.active]="activeClass=='disciplineClass'" value="4" (click)="menu_item(4)">
                <a><span>Test Discipline</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="actvieItem == 'testRegulation'" class="col-11 col-md-7 test_regulation">
        <div class="menu-group">
          <h1>Test Regulation</h1>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="title">
                    <h2>I. Equipment and test environment requirements</h2>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="content">
                <div>
                  <h2>Test environment:</h2>
                  <p>
                    The test should be taken in a closed room where no one will disturb you. It is forbidden to take the test in public areas such as parks, internet cafes, restaurants, etc. Computers and keyboards must be placed on a desk or table. No one else is allowed
                    to enter or leave the room during the test. There must not be any prohibited items in the test room.
                    <br> Before registering for the test, please confirm that your computer, software configuration, network, and room meet test requirements:
                  </p>
                </div>
                <div>
                  <h2>Computer:</h2>
                  <p>
                    ✣ Windows (7/10) operating system.
                    <br> ✣ Mac system cannot be used
                  </p>
                </div>
                <div>
                  <h2>Software:</h2>
                  <p>
                    Download and operate HSKExamClient from the following website: https://test.chinesetest.cn:36165/client.html
                  </p>
                </div>
                <div>
                  <h2>Network:</h2>
                  <p>
                    Internet speed connection to HSKExamClient should be 150KB / s and above.
                  </p>
                </div>
                <div>
                  <h2>Camera:</h2>
                  <p>
                    HD (more than 300,000 pixels). The room should also be well-lit and the camera is unobstructed. HSK and HSKK candidates need to prepare another mobile with Zoom meeting apps for test supervising.
                  </p>
                </div>
                <div>
                  <h2>Headphones:</h2>
                  <p>
                    Clear with good sound insulation.
                  </p>
                </div>

                <div class="content__alert">
                  <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/test/instructions/web/icon_alert.svg'">
                  <p>
                    Please ensure that recording equipment must be tested before the registration. Result missing or lacking caused by equipment fault a make-up test or refund would not be acceptable.
                  </p>
                </div>

                <div class="content__note">
                  <div>
                    <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/test/instructions/web/icon_alert.svg'">
                    <h3>Please note: </h3>
                  </div>
                  <ol>
                    <li>Paper cannot be used during the Online Chinese Test (Home Edition). </li>
                    <li>Copying and recording any part of the test with electronic equipment is also prohibited.</li>
                    <li>The test center may need to collect test-related information from you, including name, photo, ID, audio, and video records taken during the test. We will only use personal information permitted by law, for purposes such as maintaining
                      test security.</li>
                  </ol>
                </div>

                <div class="content__alert">
                  <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/test/instructions/web/icon_alert.svg'">
                  <p>
                    Please enter the online meeting room (Zoom) one hour before the test to check the candidates’ identification and test environment.
                  </p>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="title">
                    <h2>II. Registration</h2>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="content">
                <div>
                  <h2>Candidates’ information</h2>
                  <p>
                    Please provide personal information according to the registration spreadsheet and provide an electronic photo followed the requirement below:
                  </p>
                  <ul>
                    <li>a photo (6 months prior to the test date). Passport photo (landscape or life photo is not acceptable).</li>
                    <li>a photo with a hat, turban, headband, or sunglasses is not acceptable(except for religious reasons).</li>
                    <li>black-and-white or colored photos are both acceptable. (white background is preferred.</li>
                  </ul>
                </div>
                <div class="content__note border_red">
                  <div>
                    <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/test/instructions/web/icon_alert.svg'">
                    <h3>Note: </h3>
                  </div>
                  <ul>
                    <li>All the information should be provided before the registration deadline.</li>
                    <li>A photo will be used for test sign-up, face recognition, and authentication. Any recognition or authentication failure caused by the photo which candidates provided, no test fee refund will be counted.</li>
                  </ul>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="title">
                    <h2>III. Preparation before the test</h2>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="content">
                <div>
                  <ol>
                    <li>
                      Print your admission ticket 2 days before the test, and confirm the personal information ( name, nationality, gender, ID type, and ID number). Also please confirm the test information ( including the subject, starting time, test center, and notices).
                    </li>
                    <li>
                      Admission time:
                      <br> You can log in to the online meeting room 60 minutes before the test starts. Please log into the test client program 30 minutes (no later than 10 minutes) before the start time. Personal, equipment or network issues leading
                      to lateness will not qualify as extenuating circumstances.
                    </li>
                    <li>
                      Equipment and environment testing:
                      <ol type="a">
                        <li>Camera</li>
                        <li>Headphones</li>
                        <li>Network</li>
                      </ol>
                    </li>
                    <li>
                      Read and agree with the test regulations.
                    </li>
                    <li>
                      Enter the test by typing in the admission ticket number and password, a countdown will begin.
                    </li>
                    <li>
                      Candidates who are judged to be unqualified on the test day cannot take the test, no test fee will be counted.
                    </li>
                  </ol>
                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="col-11 col-md-3 test_ul mobile">
            <ul class="select_item">
              <li [class.active]="activeClass=='procedureClass'" value="1" (click)="menu_item(1)">
                <a><span>Registration Procedure</span></a>
              </li>
              <li [class.active]="activeClass=='registrationClass'" value="2" (click)="menu_item(2)">
                <a><span>Test Regulation</span></a>
              </li>
              <li [class.active]="activeClass=='scoreClass'" value="3" (click)="menu_item(3)">
                <a><span>Score and Report</span></a>
              </li>
              <li [class.active]="activeClass=='disciplineClass'" value="4" (click)="menu_item(4)">
                <a><span>Test Discipline</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="actvieItem == 'scoreReport'" class="col-11 col-md-7 score_report">
        <div class="menu-group">
          <h1>Score and Report</h1>
        </div>
        <div class="title_bar">Info</div>
        <div class="content">
          <ol>
            <li>
              HSK test results will be available the third Monday after the test. HSKK will be available 1 month after the test. Ponddy HSK will send out the online score reports when the test results become available. Test takers can also inquire about the test result
              on the test website (www.chinesetest.cn) with admission ticket number and name.
            </li>
            <li>
              Score reports can be applied through the “extra score report” service online by test takers themselves in their personal information center and send to the individuals or institutions.
            </li>
            <li>
              <div class="title">Validity period of the score report</div>
              <div>
                The test result is a long term available, but the score report to be used for the application to Chinese universities and colleges is valid within two years (from the test date).
              </div>
            </li>
            <li>
              <div class="title">Additional services concerning score report</div>
              <ol type="a">
                <li>
                  <div class="title_blur">Delivery of an additional score report</div>
                  <div>
                    For the purpose of helping test takers present their score reports of the Chinese test as proof of their Chinese proficiency for college application, graduation, recruitment, promotion, etc., it’s available for test-takers to apply for the delivery of
                    additional score reports via the Chinese testing service website (www.chinesetest.cn). For details of the application forms and fees, please visit the Chinese testing service website (www.chinesetest.cn).
                  </div>
                </li>
                <li>
                  <div class="title_blur">Modification of the score report</div>
                  <div>
                    The HSK score report serves as an important proof of test-takers’ Chinese proficiency. In view that some test takers may fail to carefully check the information as required during their registration online or at the test center or fail to carefully check
                    the registration confirmation or the test admission ticket after the completion of the test registration, which may lead to a discrepancy between the personal information on the score report and the real information, the Chinese testing
                    service website (www.chinesetest.cn), in order to ensure the normal use of the report, allows test takers to apply for the modification of the score report.
                  </div>
                </li>
              </ol>
            </li>
          </ol>

          <div style="display: flex;">
            <div class="title" style="padding-right: 10px;">●</div>
            <div class="title">Requirements for test-takers’ application to modify the score report:</div>
          </div>

          <ul>
            <li>
              <div>
                An application to modify the information is limited to the following situations:
              </div>
              <ul>
                <li>Misspelling of the name</li>
                <li>The error of the nationality information</li>
                <li>The error of the gender information</li>
              </ul>
            </li>
            <li>
              Test takers must provide the relevant supporting certificates, such as his/her passport and identity card.
            </li>
            <li>
              The application shall be filed within the validity period of the test results report (i.e., within two years after the end of the test).
            </li>
          </ul>

          <div class="col-11 col-md-3 test_ul mobile">
            <hr>
            <ul class="select_item">
              <li [class.active]="activeClass=='procedureClass'" value="1" (click)="menu_item(1)">
                <a><span>Registration Procedure</span></a>
              </li>
              <li [class.active]="activeClass=='registrationClass'" value="2" (click)="menu_item(2)">
                <a><span>Test Regulation</span></a>
              </li>
              <li [class.active]="activeClass=='scoreClass'" value="3" (click)="menu_item(3)">
                <a><span>Score and Report</span></a>
              </li>
              <li [class.active]="activeClass=='disciplineClass'" value="4" (click)="menu_item(4)">
                <a><span>Test Discipline</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="actvieItem == 'testDiscipline'" class="col-11 col-md-7 test_discipline">
        <div class="menu-group">
          <h1>Test Discipline</h1>
        </div>
        <div class="content">
          <ol>
            <li>
              The test should be conducted in a safe and enclosed room independently without any interference. The room should be quiet and well-lighted. Places as parks, internet cafes, restaurants, and other open places are forbidden.
            </li>
            <li>
              Computer/laptop, keyboard and mouse, and other testing articles should be ON the table, and all prohibited items of examinations are not allowed in the testing room.
            </li>
            <li>
              Other personnel is not allowed for entry during the test.
            </li>
            <li>
              Any entry, exit nor walking around the room are forbidden after your entrance (after opening the online Chinese test system’s interface) till your exit from the test, otherwise the test will be considered a failure.
            </li>
            <li>
              Any switching out of the online Chinese test system’s interface is forbidden after your entrance (after opening the online Chinese test system’s interface) till your exit from the test. Otherwise the test will be considered a failure.
            </li>
            <li>
              Utilization of any unauthorized materials, including mobile devices, handwritten notes or textbooks are forbidden during the test.
            </li>
            <li>
              Communications with any other person are forbidden during the test.
            </li>
            <li>
              Remain in the center of your camera without any blocking and keep your camera on during the whole test, and make sure the shooting is clear and no choppy.
            </li>
            <li>
              No hat, headscarf, headband, sunglasses, jewelry, tie clip nor other accessories are allowed in the test (Special religious needs please state and apply at your test registration).
            </li>
            <li>
              All rules and regulations of “Measures for Disciplinary Violations in the Chinese Tests” are applied to Online Chinese Test (Home Edition). CTI and test centers maintain the right to pursue after the test.
            </li>
          </ol>

          <div class="col-11 col-md-3 test_ul mobile">
            <hr>
            <ul class="select_item">
              <li [class.active]="activeClass=='procedureClass'" value="1" (click)="menu_item(1)">
                <a><span>Registration Procedure</span></a>
              </li>
              <li [class.active]="activeClass=='registrationClass'" value="2" (click)="menu_item(2)">
                <a><span>Test Regulation</span></a>
              </li>
              <li [class.active]="activeClass=='scoreClass'" value="3" (click)="menu_item(3)">
                <a><span>Score and Report</span></a>
              </li>
              <li [class.active]="activeClass=='disciplineClass'" value="4" (click)="menu_item(4)">
                <a><span>Test Discipline</span></a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>