<section class="resources">
    <div class="resources__tabs">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div>
                        <img [lazyLoad]="'assets/image/resources/course.svg'">
                    </div>
                    <br>
                    <div>
                        Course
                    </div>
                </ng-template>
                First test
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>
                        <img [lazyLoad]="'assets/image/resources/preparation.svg'">
                    </div>
                    <br>
                    <div>
                        Preparation
                    </div>
                </ng-template>
                Second test
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div>
                        <img [lazyLoad]="'assets/image/resources/smart-learning.svg'">
                    </div>
                    <br>
                    <div>
                        Smart Learning
                    </div>
                </ng-template>
                Third test
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
