<footer>
  <div class="container">
    <div class="row justify-content-center align-self-center no-gutters text-left">

      <div class="col-md-2 mr-2 ml-2">
        <p class="title">Ponddy HSK</p>
        <a  routerLink="/home">Home</a><br>
        <a  routerLink="/ponddy">Ponddy</a><br>
        <a  routerLink="/test">HSK Test</a><br>
<!--        <a>HSK Courses</a><br>-->
<!--        <a href="/">FAQ</a>-->
      </div>
      <div class="col-md-2 mr-2  ml-2">
        <p class="title">Smart Learning</p>
        <a href="https://chrome.google.com/webstore/detail/ponddy-daily-wordsa-fun-w/eaieadhpfjjlkgmfnkmlhppdpjkgddag" target="_blank">
          Ponddy Daily word
        </a> <br>
        <a href="https://chrome.google.com/webstore/detail/ponddy-digest-%E2%80%93-weekly-ch/padhecljpmdefpkhpphkjdanjbmkhgoc" target="_blank">
          Ponddy Digest
        </a> <br>
        <a href="https://reader.ponddy.com/" target="_blank">
          Ponddy Reader
        </a> <br>
        <a href="https://tutors.ponddy.com/" target="_blank">
          Ponddy Tutors
        </a> <br>
        <a href="https://stb.ponddy.com/landing/" target="_blank">
          Ponddy Smart Textbooks
        </a>
      </div>
<!--      <div class="desktop  col-md-2 mr-2 ml-2">-->
<!--        <p class="title">Site Language</p>-->
<!--        <a href="/">English</a><br>-->
<!--        <a href="/cn/">简体中文</a><br>-->
<!--        <a href="/tw/">繁體中文</a><br>-->
<!--        <a href="/ja/">日本語</a><br>-->
<!--        <a href="/th/">ภาษาไทย</a><br>-->
<!--      </div>-->
      <div class="col-md-3  ml-2">
        <p class="title">Contact Us</p>
        <a>408-800-7798<br> support@ponddy-edu.com <br>1550 The Alameda, Ste 310 San Jose, CA 95126</a>
      </div>
      <div class="col-md-2  ml-2">
        <p class="title">Follow Us</p>
        <a class="mb-3" onclick="openUrl('https://www.instagram.com/accounts/login/?next=/ponddyeducation/')">
          Instagram</a><br>
        <a onclick="openUrl('https://www.facebook.com/ponddyeducation/')">Facebook</a>
      </div>
    </div>

  </div>
<!--  <div class="language mobile">-->
<!--    <select onchange="location = this.value;">-->
<!--      <option value="/resources/">Site Language：English</option>-->
<!--      <option value="/cn/resources/">Site Language：简体中文</option>-->
<!--      <option value="/tw/resources/">Site Language：繁體中文</option>-->
<!--      <option value="/ja/resources/">Site Language：日本語</option>-->
<!--      <option value="/th/resources/">Site Language：ภาษาไทย</option>-->

<!--    </select>-->
<!--  </div>-->
  <div class="copyright mt-5">
    <div class="permission">Copyright © Ponddy Education Inc. | All Rights Reserved.|
      <a href="https://tutors-resources.s3-us-west-2.amazonaws.com/legal_documents/terms.html"
         target="_blank">Policy and Terms </a>
    </div>

<!--    | <a href="https://s3-us-west-1.amazonaws.com/ponddyreader-master/legal_documents/privacy.html" target="_blank">Privacy</a>-->
<!--    | <a href="https://ponddyreader-master.s3-us-west-1.amazonaws.com/legal_documents/copyright.html"  target="_blank"> Report Abuse</a>-->
  </div>
</footer>

