<section class="about_select">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-10 select">
        <h2>About</h2>
        <h1>Frequently Asked Questions</h1>
        <div class="input_wrap">
          <button><img src="https://hsk-landing.s3-us-west-2.amazonaws.com/faq/web/select.svg"></button>
          <input type="text">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_tab">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-10 tab">
        <div class="tab_item">
          <div class="text">Test Registration & Regulation</div>
          <div>
            <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/faq/web/icon_Test Regist_web_01.svg'">
          </div>
        </div>
        <div class="tab_item">
          <div class="text">Payments & Refunds</div>
          <div>
            <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/faq/web/icon_Payments_web_01.svg'">
          </div>
        </div>
        <div class="tab_item">
          <div class="text">Ponddy HSK Course</div>
          <div>
            <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/faq/web/icon_PonddyHSK_web_01.svg'">
          </div>
        </div>
        <div class="tab_item">
          <div class="text">Test Scores & Reports</div>
          <div>
            <img [lazyLoad]="'https://hsk-landing.s3-us-west-2.amazonaws.com/faq/web/icon_04_TestScores_web_01.svg'">
          </div>
        </div>
      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
