<div *ngIf="!mode" class="wrapper">
  <div mat-dialog-title class="text-center">
    <img src="/assets/image/freeclass/Trophy.svg">
    <h3> Congratulations!!</h3>
  </div>
  <mat-dialog-content>
    <p>Thank you for choosing Ponddy, your course will be arranged and we will contact with you soon! </p>
  </mat-dialog-content>
  <div class="close" (click)="dialogRef.close()" test="dismissUpgradeModal">
    <button>✕</button>
  </div>
</div>

<div *ngIf="mode" class="wrapper enroll_test">
  <div mat-dialog-title class="text-center">
    <img src="/assets/image/test/congratulations_enroll.png">
  </div>

  <div class="close" (click)="dialogRef.close()" test="dismissUpgradeModal">
    <button>✕</button>
  </div>
</div>
