
.ponddy_section {
  background: #F5F0EB;
  padding-top: 64px;
  @media (max-width: 767px){
    padding: 24px 20px 36px;
  }
  .description {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #2D3942;
    text-align: left;
    font-weight: normal;
    margin-bottom: 16px;
  }
  
  h1 {
    margin-bottom: 16px;
    @media (max-width: 991.98px) {
      font-weight: 900;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      letter-spacing: 0.5px;
    }
  }
}
