.hsk_section {
  //height: 700px;
  background: #FFFFFF;
  padding: 64px 0;
  @media (max-width: 767px){
    padding: 64px 20px;
  }
  h1 {
    margin-bottom: 32px;
  }
  
  .description {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #2D3942;
    text-align: left;
    font-weight: normal;
    margin-bottom: 60px;
  }
  
  img {
    width: 100%;
  }
}

.ponddy_section {
  background: #F5F0EB;
  padding-top: 64px;
  @media (max-width: 767px){
    padding: 24px 20px 36px;
  }
  .description {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #2D3942;
    text-align: left;
    font-weight: normal;
    margin-bottom: 16px;
  }
  
  h1 {
    margin-bottom: 32px;
  }
}
