<section class="about_ponddy">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1 i18n="about ponddy title">Ponddy Education</h1>
        <p i18n="about ponddy description">
          Ponddy® is an advanced AI smart learning brand.
          Powered by innovative AKLS® AI technology, Ponddy’s smart learning solutions include intelligent platforms,
          customized resources, tailored curricula, on-line tutors, and at-home online testing services.
          Ponddy® Smart Learning is a new way to teach and learn Chinese or
          English more effectively: teachers could easily fix students’
          learning gaps, and learners could have personalized learning
          experience, according to their own language levels, learning
          objectives, and backgrounds. Adopted by over 1000 schools from
          84 countries around the world, Ponddy® is widely recognized
          by international official language testing and teaching institutions.
        </p>
        <p i18n="about ponddy description">Ponddy® HSK is the first online HSK test center in the U.S.A.
          that offers at-home online testing services for HSK, HSKK, YCT, and BCT official Chinese language tests.
          Ponddy® courses are designed by our expert-teaching team and are fully accredited by ACS Western
          Association of Schools and Colleges of the United States.
        </p>
        <div class="learn_more blue_text">
          <p i18n="learn more|learn more">Read more</p>
          <img src="/assets/image/icon/btn_blue_normal.svg">
        </div>


      </div>
    </div>

    <div class="row justify-content-center">
      <!--      <mdb-carousel class="carousel slide carousel-fade" [animation]="'slide'">-->
      <!--        <mdb-carousel-item>-->
      <!--          <img class="d-block w-100" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/logo_1_web.png" alt="First slide">-->
      <!--        </mdb-carousel-item>-->
      <!--        <mdb-carousel-item>-->
      <!--          <img class="d-block w-100" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/logo_2_web.png" alt="Second slide">-->
      <!--        </mdb-carousel-item>-->
      <!--        <mdb-carousel-item>-->
      <!--          <img class="d-block w-100" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/logo_3_web.png" alt="Third slide">-->
      <!--        </mdb-carousel-item>-->
      <!--      </mdb-carousel>-->
      <div class="col-md-1 arrow">
        <img class="left" src="/assets/image/icon/btn_normal_left.svg" (click)="coursePrev()">
      </div>
      <div class="col-md-10">
        <carousel #course_carousel [cellWidth]="'100%'" [dots]="false" [arrows]="false">
          <div class="carousel-cell">
            <img class="d-block w-100" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/logo_2_web.png"
                 alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img class="d-block w-100" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/logo_1_web.png"
                 alt="First slide">
          </div>
          <div class="carousel-cell">
            <img class="d-block w-100" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/logo_3_web.png"
                 alt="Third slide">
          </div>
        </carousel>
      </div>
      <div class="col-md-1 arrow">
        <img class="right" src="/assets/image/icon/btn_normal_right.svg" (click)="courseNext()">
      </div>
    </div>
  </div>
</section>
