<section class="landing">
  <div class="view w-100">
    <img class="d-block w-100"   alt="First slide">
    <div class="mask waves-light" mdbWavesEffect></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11 col-md-10">
          <h1 i18n>Ponddy® HSK Smart Learning to Tackle the Chinese Proficiency Test</h1>
          <div class="learn_more orange_text">
            <p i18n>Learn more</p>
            <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
