<section class="landing">
  <div class="iconify_wrap" (click)="smoothScroll()">
    <span class="iconify" data-inline="false" data-icon="bi:arrow-down-circle"></span>
  </div>

  <div class="view w-100">
    <div class="background">
      <div class="padding_space"></div>
      <div class="mask_space">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11  title">
              <h1 i18n>Take Chinese Proficiency Test from Home at Ponddy HSK </h1>
              <div class="learn_more orange_text" routerLink="/tests/instructions/1">
                <p i18n>Learn more</p>
                <img src="/assets/image/icon/btn_orange_normal.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
