.learn_more {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 16px;
  align-items: center;
  p {
    margin: 0
  }
  &.blue_text {
    color: #3B9FBE !important;
    
    &:hover {
      color: #6ACFED!important;
      
      img {
        content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_blue_hover.svg");
      }
    }
  }
  
  &.green_text {
    color: #26B586!important;
    
    &:hover {
      color: #2CC895!important;
      
      img {
        content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_green_hover.svg");
      }
    }
  }
  &.orange_text {
    color: #F3A024;
    
    &:hover {
      color: #ffd084 !important;
      
      img {
        content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_orange_hover.svg");
      }
    }
  }
  img {
    height: 32px;
    width: 32px;
    margin-left: 16px;
    fill: red;
  }
}
.arrow {
  display: flex;
  align-items: center;
  
  .left {
    cursor: pointer;
    &:after{
      display:none;
      content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_hover_left.svg");
    }
    &:hover {
      content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_hover_left.svg");
    }
  }
  
  .right {
    cursor: pointer;
    &:after{
      display:none;
      content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_hover_right.svg");
    }
    &:hover {
      content: url("https://hsk-landing.s3-us-west-2.amazonaws.com/icon/btn_hover_right.svg");
    }
  }
}


.container-left {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container-left {
    margin-left: 0;
    margin-right: calc(50vw - 270px);
  }
}

@media (min-width: 768px) {
  .container-left {
    margin-left: 0;
    margin-right: calc(50vw - 360px);
  }
}

@media (min-width: 992px) {
  .container-left {
    margin-left: 0;
    margin-right: calc(50vw - 480px);
  }
}

@media (min-width: 1200px) {
  .container-left {
    margin-left: 0;
    margin-right: calc(50vw - 570px);
  }
}


.container-right {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container-right {
    margin-left: calc(50vw - 270px);
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .container-right {
    margin-left: calc(50vw - 360px);
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .container-right {
    margin-left: calc(50vw - 480px);
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .container-right {
    margin-left: calc(50vw - 570px);
    margin-right: 0;
  }
}
