/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;
  max-width: 100vw;
}
body { margin: 0;
  font-family: Ponddy-NotoRubik, sans-serif !important;
  }

@import "src/assets/font/PonddyNotoRubik";
@import "src/assets/ponddy-guidline.scss";
@import "src/assets/bootstrap-grid";
@import "src/assets/common";

@media (max-width: 767px) {
  
  ::ng-deep.learn_more {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    img {
      height: 24px;
      width: 24px;
      margin-left: 10px;
      fill: red;
    }
  }
}
body {
  font-family: Ponddy-NotoRubik, 'Microsoft JhengHei', sans-serif !important;
}


