/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Ponddy-NotoRubik, sans-serif; }

@import "src/assets/font/PonddyNotoRubik";
@import "src/assets/ponddy-guidline.scss";
@import "src/assets/bootstrap-grid";

body {
  font-family: Ponddy-NotoRubik, 'Microsoft JhengHei', sans-serif !important;
}


