<app-header></app-header>
<app-home-landing></app-home-landing>
<app-home-about></app-home-about>

<section class="hsk_intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-sm-12">
        <img class="main" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/intro_pic_01.png">
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="intro_text">
          <img class="icon" src="/assets/image/icon/intro_icon_01.svg">
          <h1 i18n>Chinese Proficiency Test</h1>
          <p>Things you should know before registration and tests</p>
          <div class="learn_more  blue_text">
            <p>Read More</p>
            <img src="/assets/image/icon/btn_blue_normal.svg">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 80px">
      <div class="col-md-5 col-sm-12" >
        <div class="intro_text" style="padding-left: 0">
          <img class="icon" src="/assets/image/icon/intro_icon_02.svg">
          <h1 i18n>HSK Preparation</h1>
          <p>Get ready for HSK with the self-study packet and practice tests</p>
          <div class="learn_more green_text">
            <p i18n>Read More</p>
            <img class="svg" src="/assets/image/icon/btn_green_normal.svg">
          </div>
        </div>

      </div>
      <div class="col-md-5 col-sm-12">
        <img class="svg" class="main" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/intro_pic_02.png">
      </div>
    </div>
  </div>
</section>

<section class="course">
  <div class="container">
    <div class="row text-center">
      <h1 i18n>HSK Course</h1>
    </div>
    <div class="row">
      <carousel  #course_carousel [height]="500" [cellWidth]="360" [dots]="false" [arrows]="false">
        <div class="carousel-cell">
          <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/course_pic_01.png">
          <h2 i18n>HSK 1 & 2</h2>
          <p i18n class="level">Average Level: HSK 1~2</p>
          <h2 i18n class="ta">HSK for Adult </h2>
        </div>
        <div class="carousel-cell">
          <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/course_pic_02.png">
          <h2 i18n>HSK 3</h2>
          <p i18n class="level">Average Level: HSK 3</p>
          <h2 i18n class="ta">HSK for Adult </h2>
        </div>
        <div class="carousel-cell">
          <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/course_pic_03.png">
          <h2 i18n>HSK 4</h2>
          <p i18n class="level">Average Level: HSK 4</p>
          <h2 i18n class="ta">HSK for Adult </h2>
        </div>
        <div class="carousel-cell">
          <img src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/course_pic_04.png">
          <h2 i18n>HSK 3</h2>
          <p i18n class="level">Average Level: HSK 3</p>
          <h2 i18n class="ta">HSK for Student</h2>
        </div>
      </carousel>
    </div>
    <div class="row">
      <div class="arrow">
        <img class="left" src="/assets/image/icon/btn_normal_left.svg" (click)="coursePrev()">
        <img class="right" src="/assets/image/icon/btn_normal_right.svg" (click)="courseNext()">
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
