<app-header></app-header>
<app-home-landing></app-home-landing>
<app-home-about></app-home-about>

<section class="hsk_intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-sm-12">
        <img class="main" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/intro_pic_01.png">
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="intro_text">
          <img class="icon" src="/assets/image/icon/intro_icon_01.svg">
          <h1 i18n>Chinese Proficiency Test</h1>
          <p>Things you should know before registration and tests</p>
          <div class="learn_more  blue_text">
            <p>Read More</p>
            <img src="/assets/image/icon/btn_blue_normal.svg">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 80px">
      <div class="col-md-5 col-sm-12" >
        <div class="intro_text" style="padding-left: 0">
          <img class="icon" src="/assets/image/icon/intro_icon_02.svg">
          <h1 i18n>HSK Preparation</h1>
          <p i18n>Get ready for HSK with the self-study packet and practice tests</p>
          <div class="learn_more green_text">
            <p i18n>Read More</p>
            <img class="svg" src="/assets/image/icon/btn_green_normal.svg">
          </div>
        </div>

      </div>
      <div class="col-md-5 col-sm-12">
        <img class="svg" class="main" src="https://hsk-landing.s3-us-west-2.amazonaws.com/home/intro_pic_02.png">
      </div>
    </div>
  </div>
</section>

<app-home-course></app-home-course>
<app-footer></app-footer>
