.landing {
  margin-top: 66px;
  //background: url("/assets/image/index_pic_01.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  height: 768px;
  box-sizing: border-box;
  //padding-top: 346px;
  
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
    color: #FFFFFF;
  }
  
  .learn_more {
    display: flex;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #F3A024;
    
    img {
      height: 32px;
      width: 32px;
      margin-left: 16px;
      background: url("/assets/icon/btn_orange_hover.svg");
    }
  }
  
  mdb-carousel {
    .carousel, ::ng-deep .carousel-inner {
      height: 768px;
    }
    
    mdb-carousel-item .container {
      position: absolute;
      top: 346px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    
    ::ng-deep.carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 42%;
      /* left: 0; */
      align-items: flex-end;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 3%;
      margin-left: 15%;
      list-style: none;
      flex-direction: column;
      
      li {
        opacity: 1;
        
        &.active {
          background-color: #93E2FA;
        }
      }
    }
  }
}

.about_ponddy {
  padding: 64px 0;
  background: #EBF2F5;
  
  h1 {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #2D3942;
    font-weight: 900;
    margin-bottom: 40px;
  }
  
  p {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #2D3942;
    font-weight: 400;
    
  }
  
  .learn_more {
    display: flex;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #F3A024;
    
    img {
      height: 32px;
      width: 32px;
      margin-left: 16px;
      background: url("/assets/icon/btn_orange_hover.svg");
    }
  }
  
  ::ng-deep .carousel-inner {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  
  .carousel .carousel-control-next-icon {
  
  }
}

.hsk_intro {
  padding: 64px 0 100px;
  
  img.main {
    width: 100%;
  }
  
  img.icon {
    margin-bottom: 20px;
  }
  
  .intro_text {
    padding: 48px 76px;
    
    .learn_more {
      display: flex;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 1px;
      font-weight: 700;
      cursor: pointer;
      margin-top: 16px;
      align-items: center;
      
      &.blue_text {
        color: #3B9FBE;
        
        &:hover {
          color: #6ACFED;
          
          img {
            content: url("/assets/image/icon/btn_blue_hover.svg");
          }
        }
      }
      
      &.green_text {
        color: #26B586;
        
        &:hover {
          color: #2CC895;
          
          img {
            content: url("/assets/image/icon/btn_green_hover.svg");
          }
        }
      }
      
      img {
        height: 32px;
        width: 32px;
        margin-left: 16px;
        fill: red;
      }
      
      
    }
  }
  
  h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.5px
  }
  
  p {
    font-size: 24px;
    line-height: 40px;
    /* or 167% */
    margin: auto 0;
    letter-spacing: 1px;
  }
}

.course {
  padding-bottom: 64px;
  
  h1 {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #2D3942;
    padding-bottom: 12px;
    font-weight: 900;
  }
  carousel{
  
  }
  .carousel-cell {
    padding: 0 30px;
    border-right: 1px solid #D5D7D9;;
    
    img {
      height: auto;
    }
    
    h2 {
      margin-top: 24px;
      font-size: 24px;
      line-height: 36px;
      //font-weight: ;
      color: #2D3942;
      
    }
    .level{
      font-weight: normal;
    }
    .ta{
      color: #F3A024;
    }
  }
  
  .arrow {
    padding-left: 38px;
    img {
      height: 50px;
      width: 50px;
      cursor: pointer;
    }
    
    .left {
      &:hover {
        content: url("/assets/image/icon/btn_hover_left.svg");
      }
    }
    
    .right {
      margin-left: 32px;
      
      &:hover {
        content: url("/assets/image/icon/btn_hover_right.svg");
      }
    }
  }
  
}
