<app-header></app-header>
<section class="landing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1 i18n>Ponddy® HSK Smart Learning to Tackle the Chinese Proficiency Test</h1>
        <div class="learn_more">
          <p>Learn more</p>
          <img>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="about_ponddy">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1 i18n="about ponddy title">Ponddy Education</h1>
        <p i18n="about ponddy description">
          Ponddy® is an advanced AI smart learning brand.
          Powered by innovative AKLS® AI technology, Ponddy’s smart learning solutions include intelligent platforms,
          customized resources, tailored curricula, on-line tutors, and at-home online testing services.
          Ponddy® Smart Learning is a new way to teach and learn Chinese or
          English more effectively: teachers could easily fix students’
          learning gaps, and learners could have personalized learning
          experience, according to their own language levels, learning
          objectives, and backgrounds. Adopted by over 1000 schools from
          84 countries around the world, Ponddy® is widely recognized
          by international official language testing and teaching institutions.
        </p>
        <p i18n="about ponddy description">Ponddy® HSK is the first online HSK test center in the U.S.A.
          that offers at-home online testing services for HSK, HSKK, YCT, and BCT official Chinese language tests.
          Ponddy® courses are designed by our expert-teaching team and are fully accredited by ACS Western
          Association of Schools and Colleges of the United States.
        </p>
        <div class="learn_more">
          <p i18n="learn more|learn more">Read more</p>
          <img>
        </div>
      </div>

    </div>

  </div>
</section>
