
::ng-deep.learn_more {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 16px;
  align-items: center;
  
  &.blue_text {
    color: #3B9FBE !important;
    
    &:hover {
      color: #6ACFED!important;
      
      img {
        content: url("/assets/image/icon/btn_blue_hover.svg");
      }
    }
  }
  
  &.green_text {
    color: #26B586!important;
    
    &:hover {
      color: #2CC895!important;
      
      img {
        content: url("/assets/image/icon/btn_green_hover.svg");
      }
    }
  }
  
  img {
    height: 32px;
    width: 32px;
    margin-left: 16px;
    fill: red;
  }
  
  
}






