.landing {
  margin-top: 66px;
  //background: ;
  height: 90vh;

  h1{
    margin-top: 40vh;
  }
  .learn_more{
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #F3A024;
  }
}
